.vi-upload-list-item {
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    align-items: center;
    box-sizing: border-box;
    border-radius: var(--vi-card-radius);
    --vi-upload-file-img: url('../img/default.svg');
    --vi-upload-file-background-color: var(--vi-background-color-deep);
    user-select: none;

    .vi-upload-list-item__view {
        display: flex;
        width: 2em;
        height: 2em;
        align-items: center;
        justify-content: center;
        border-radius: var(--vi-card-radius);
        background-color: var(--vi-upload-file-background-color);

        .vi-upload-list-item__view__img {
            width: 2em;
            height: 2em;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-image: var(--vi-upload-file-img);
        }
    }

    .vi-upload-list-item__text {
        display: flex;
        padding-left: .5em;
        flex-direction: column;
        // justify-content: space-between;
        align-items: flex-start;
        .vi-upload-list-item__text__name {
            cursor: pointer;
            text-overflow: ellipsis;

            &:hover {
                color: var(--vi-link-color);
            }
        }
        .vi-upload-list-item__text__size {
            font-size: .8em;
            color: var(--vi-icon-color);
        }
    }

    .vi-upload-list-item__delete-btn {
        position: absolute;
        overflow: hidden;
        display: flex;
        right: -3em;
        width: 3em;
        height: 100%;
        color: #fff;
        background-color: var(--vi-red-color3);
        align-items: center;
        justify-content: center;
        transition: var(--vi-transition);
        cursor: pointer;
    }

    &:hover {
        .vi-upload-list-item__delete-btn {
            right: 0; 
        }
    }
}

.vi-upload-list-item-format-pdf {
    --vi-upload-file-background-color: var(--vi-red-color4);
    --vi-upload-file-img: url('../img/pdf.svg');
}

.vi-upload-list-item-format-doc {
    --vi-upload-file-background-color: var(--vi-blue-color4);
    --vi-upload-file-img: url('../img/word.svg');
}
.vi-upload-list-item-format-docx {
    --vi-upload-file-background-color: var(--vi-blue-color4);
    --vi-upload-file-img: url('../img/word.svg');
}

.vi-upload-list-item-format-xls {
    --vi-upload-file-background-color: var(--vi-green-color4);
    --vi-upload-file-img: url('../img/excel.svg');
}
.vi-upload-list-item-format-xlsx {
    --vi-upload-file-background-color: var(--vi-green-color4);
    --vi-upload-file-img: url('../img/excel.svg');
}

.vi-upload-list-item-format-pptx {
    --vi-upload-file-background-color: var(--vi-red-color4);
    --vi-upload-file-img: url('../img/ppt.svg');
}

.vi-upload-list-item-format-txt {
    --vi-upload-file-background-color: var(--vi-green-color4);
    --vi-upload-file-img: url('../img/txt.svg');
}

.vi-upload-list-item-format-json {
    --vi-upload-file-img: url('../img/config.svg');
}
.vi-upload-list-item-format-xml {
    --vi-upload-file-img: url('../img/config.svg');
}

.vi-upload-list-item-format-zip {
    --vi-upload-file-background-color: var(--vi-yellow-color4);
    --vi-upload-file-img: url('../img/zip.svg');
}
.vi-upload-list-item-format-rar {
    --vi-upload-file-background-color: var(--vi-yellow-color4);
    --vi-upload-file-img: url('../img/zip.svg');
}

.vi-upload-list-item-format-exe {
    --vi-upload-file-img: url('../img/exe.svg');
}

.vi-upload-list-item-format-py {
    --vi-upload-file-background-color: var(--vi-blue-color4);
    --vi-upload-file-img: url('../img/project.svg');
}
.vi-upload-list-item-format-java {
    --vi-upload-file-background-color: var(--vi-blue-color4);
    --vi-upload-file-img: url('../img/project.svg');
}
.vi-upload-list-item-format-c {
    --vi-upload-file-background-color: var(--vi-blue-color4);
    --vi-upload-file-img: url('../img/project.svg');
}
.vi-upload-list-item-format-cpp {
    --vi-upload-file-background-color: var(--vi-blue-color4);
    --vi-upload-file-img: url('../img/project.svg');
}
.vi-upload-list-item-format-go {
    --vi-upload-file-background-color: var(--vi-blue-color4);
    --vi-upload-file-img: url('../img/project.svg');
}
.vi-upload-list-item-format-js {
    --vi-upload-file-background-color: var(--vi-blue-color4);
    --vi-upload-file-img: url('../img/project.svg');
}
.vi-upload-list-item-format-css {
    --vi-upload-file-background-color: var(--vi-blue-color4);
    --vi-upload-file-img: url('../img/project.svg');
}
.vi-upload-list-item-format-html {
    --vi-upload-file-background-color: var(--vi-blue-color4);
    --vi-upload-file-img: url('../img/project.svg');
}
.vi-upload-list-item-format-htm {
    --vi-upload-file-background-color: var(--vi-blue-color4);
    --vi-upload-file-img: url('../img/project.svg');
}