.vi-dialog-dark {
    --vi-dialog-title-color: var(--vi-background-color-deep);
    --vi-dialog-color: var(--vi-background-color-deepest);
    --vi-dialog-background-color: var(--vi-info-background-color);
}