@import '../../../../public/css/basecolor.less';
@import '../../../../public/css/default-style.css';

.vi-dialog {
    .vi-dialog-content {
        display: flex;
        position: relative;
        top: var(--vi-dialog-top);
        margin: 0 auto;
        width: var(--vi-dialog-width);
        height: var(--vi-dialog-height);
        padding: 0 10px;
        font-size: 14px;
        border-radius: var(--vi-card-radius);
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: var(--vi-box-shadow);

        .top {
            display: flex;
            width: 100%;
            height: 30px;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;

            .title {
                padding: 0;
                margin: 0;
                font-size: 16px;
                font-weight: 600;
            }

            .delete-point {
                cursor: pointer;
                user-select: none;
            }
        }

        .content {
            padding: 5px 0;
            margin: 0;
            text-align: var(--vi-dialog-content-text-align);
            flex: 1;
        }

        .bottom {
            width: 100%;
            height: 30px;
            font-weight: 600;
            font-size: 16px;
            text-align: var(--vi-dialog-option-text-align);

            .sure,
            .unsure {
                cursor: pointer;
                user-select: none;
            }

            .sure {
                padding-left: 12px;
            }

            .sure.single {
                padding-left: 0px;
            }
        }
    }

    .vi-content--black {
        color: var(--vi-font-color);
        fill: var(--vi-font-color);
    }

    .vi-content--white {
        color: #fff;
        fill: #fff;
    }

    .vi-content--golden {
        color: var(--vi-golden-color1);
        fill: var(--vi-golden-color1);
    }

    .vi-content--purple {
        color: var(--vi-purple-color1);
        fill: var(--vi-purple-color1);
    }

    .vi-content-background--black {
        background-color: var(--vi-font-color);
    }

    .vi-content-background--black.is-blur {
        background-color: #00000099;
        backdrop-filter: blur(5px);
    }

    .vi-content-background--white {
        background-color: #fff;
    }

    .vi-content-background--white.is-blur {
        background-color: #ffffff99;
        backdrop-filter: blur(5px);
    }

    .vi-content-background--golden {
        background-color: @golden;
    }

    .vi-content-background--golden.is-blur {
        background-color: #b8906999;
        backdrop-filter: blur(5px);
    }
}