.vi-dialog {
    --vi-dialog-title-color: var(--vi-font-color);
    --vi-dialog-color: var(--vi-link-color);
    --vi-dialog-background-color: var(--vi-background-color-base);
    background-color: var(--vi-dialog-mask-color);
    .vi-dialog__content {
        display: flex;
        position: relative;
        top: var(--vi-dialog-top);
        margin: 0 auto;
        width: var(--vi-dialog-width);
        height: var(--vi-dialog-height);
        padding: var(--vi-dialog-padding);
        font-size: var(--vi-font-size);
        background-color: var(--vi-dialog-background-color);
        border-radius: var(--vi-card-radius);
        flex-direction: column;
        justify-content: space-between;
        box-shadow: var(--vi-box-shadow);
        box-sizing: border-box;

        .vi-dialog__content__top {
            display: flex;
            width: 100%;
            color: var(--vi-dialog-title-color);
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;

            .content__top__title {
                padding: 0;
                margin: 0;
                font-size: 1em;
                font-weight: 600;
            }

            .content__top__delete-point {
                display: inline-block;
                cursor: pointer;
                user-select: none;

                > .vi-dialog__icon {
                    width: 1em;
                    path {
                        fill: var(--vi-dialog-color);
                    }
                }
            }
        }

        .vi-dialog__content__content {
            display: inline-block;
            padding: var(--vi-dialog-inner-padding);
            margin: 0;
            color: var(--vi-dialog-color);
            text-align: var(--vi-dialog-content-text-align);
            flex: 1;
        }

        .vi-dialog__content__bottom {
            width: 100%;
            color: var(--vi-dialog-title-color);
            font-weight: 600;
            font-size: 1em;
            text-align: var(--vi-dialog-option-text-align);

            .content__bottom__home {
                display: inline-flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;

                .sure,
                .unsure {
                    cursor: pointer;
                    user-select: none;
                }
            }
        }
    }
}

@import './color.less';