.has-mask.vi-dialog--black {
    background-color: rgba(0, 0, 0, .6);
}

.has-mask.vi-dialog--white {
    background-color: rgba(255, 255, 255, 0.6);
}

.has-mask.vi-dialog.is-blur {
    backdrop-filter: blur(var(--vi-blur));
}