.vi-dialog-mask-black {
    --vi-dialog-mask-color: rgba(0, 0, 0, .6);
}

.vi-dialog-mask-white {
    --vi-dialog-mask-color: rgba(255, 255, 255, 0.6);
}

.vi-dialog.is-blur {
    backdrop-filter: blur(var(--vi-blur));
}