.vi-rate-item {
    overflow: hidden;
    width: 20px;
    height: 20px;
    background-color: black;
    mix-blend-mode: darken;
}

.vi-rate-item-type-star {
    clip-path: path("M5.26384 20C4.77648 20 4.30161 19.8442 3.90172 19.5325C3.17693 18.987 2.82703 18.0779 2.97698 17.1688L3.55182 13.6623C3.6268 13.2078 3.47684 12.7532 3.16443 12.4416L0.702628 9.94805C0.0653078 9.2987 -0.159629 8.35065 0.115294 7.46753C0.390216 6.58442 1.11501 5.94805 2.00226 5.81818L5.3888 5.31169C5.82618 5.24675 6.20107 4.96104 6.38852 4.55844L7.90059 1.36364C8.30048 0.51948 9.10025 0 10 0C10.8997 0 11.6995 0.519481 12.0869 1.35065L13.6115 4.54545C13.8114 4.94805 14.1863 5.23377 14.6112 5.2987L17.9977 5.8052C18.885 5.93507 19.6098 6.57143 19.8847 7.45455C20.1596 8.33766 19.9347 9.28571 19.2974 9.93506L16.8481 12.4156C16.5357 12.7273 16.3857 13.1948 16.4607 13.6364L17.0355 17.1429C17.1855 18.0649 16.8356 18.961 16.1108 19.5065C15.386 20.0519 14.4487 20.1169 13.6615 19.6883L10.6248 18.0649C10.2374 17.8571 9.77506 17.8571 9.38767 18.0649L6.35103 19.7273C6.00113 19.9091 5.62624 20 5.26384 20Z")
}