.vi-radio-appreance.be-checked {
    .vi-radio-circle {
        &::before {
            opacity: 1;
        }
    }
}

.vi-radio-appreance.is-button.be-checked {
    .vi-radio-text {
        color: @white
    }
}

.vi-radio-appreance.is-middle.be-checked {
    .vi-radio-circle::before {
        width: 12px;
        height: 12px;
    }
}

.vi-radio-appreance.is-small.be-checked {
    .vi-radio-circle::before {
        width: 7px;
        height: 7px;
    }
}

.vi-radio-appreance.is-big.be-checked {
    .vi-radio-circle::before {
        width: 17px;
        height: 17px;
    }
}