.vi-radio-appreance.be-checked {
    .vi-radio-circle {
        border-color: @mpurple;
        &::before {
            opacity: 1;
            background-color: @mpurple;
        }
    }
}

.vi-radio-appreance.is-middle.be-checked {
    .vi-radio-circle::before {
        width: 12px;
        height: 12px;
    }
}

.vi-radio-appreance.is-small.be-checked {
    .vi-radio-circle::before {
        width: 7px;
        height: 7px;
    }
}

.vi-radio-appreance.is-big.be-checked {
    .vi-radio-circle::before {
        width: 17px;
        height: 17px;
    }
}