.vi-radio-purple.be-checked {
    .vi-radio-circle {
        box-shadow: inset 0 0 0 1px var(--vi-purple-color3);
        .vi-radio-ball {
            background-color: var(--vi-purple-color3);
        }
    }
    .vi-radio-text {
        box-shadow: inset 0 0 0 1px var(--vi-purple-color3);
        background-color: var(--vi-purple-color3);
    }
}

.vi-radio-green.be-checked {
    .vi-radio-circle {
        box-shadow: inset 0 0 0 1px var(--vi-green-color3);
        .vi-radio-ball {
            background: var(--vi-green-color3);
        }
    }
    .vi-radio-text {
        box-shadow: inset 0 0 0 1px var(--vi-green-color3);
        background-color: var(--vi-green-color3);
    }
}

.vi-radio-red.be-checked {
    .vi-radio-circle {
        box-shadow: inset 0 0 0 1px var(--vi-red-color3);
        .vi-radio-ball {
            background: var(--vi-red-color3);
        }
    }
    .vi-radio-text {
        box-shadow: inset 0 0 0 1px var(--vi-red-color3);
        background-color: var(--vi-red-color3);
    }
}

.vi-radio-pink.be-checked {
    .vi-radio-circle {
        box-shadow: inset 0 0 0 1px var(--vi-pink-color3);
        .vi-radio-ball {
            background: var(--vi-pink-color3);
        }
    }
    .vi-radio-text {
        box-shadow: inset 0 0 0 1px var(--vi-pink-color3);
        background-color: var(--vi-pink-color3);
    }
}

.vi-radio-yellow.be-checked {
    .vi-radio-circle {
        box-shadow: inset 0 0 0 1px var(--vi-yellow-color3);
        .vi-radio-ball {
            background-color: var(--vi-yellow-color3);
        }
    }
    .vi-radio-text {
        box-shadow: inset 0 0 0 1px var(--vi-yellow-color3);
        background-color: var(--vi-yellow-color3);
    }
}

.vi-radio-blue.be-checked {
    .vi-radio-circle {
        box-shadow: inset 0 0 0 1px var(--vi-blue-color3);
        .vi-radio-ball {
            background: var(--vi-blue-color3);
        }
    }
    .vi-radio-text {
        box-shadow: inset 0 0 0 1px var(--vi-blue-color3);
        background-color: var(--vi-blue-color3);
    }
}

// .vi-radio-purple.is-button.be-checked {
//     .vi-radio-text {
//         border-color: @mpurple;
//         background-color: @mpurple;
//     }
// }

// .vi-radio-purple.is-button.be-checked {
//     .vi-radio-text {
//         border-color: @mpurple;
//         background: @purple-background;
//     }
// }

// .vi-radio-green.is-button.be-checked {
//     .vi-radio-text {
//         border-color: @sgreen-background;
//         background: @green-background;
//     }
// }

// .vi-radio-red.is-button.be-checked {
//     .vi-radio-text {
//         border-color: @sred-background;
//         background: @red-background;
//     }
// }

// .vi-radio-pink.is-button.be-checked {
//     .vi-radio-text {
//         border-color: @spink-background;
//         background: @pink-background;
//     }
// }

// .vi-radio-yellow.is-button.be-checked {
//     .vi-radio-text {
//         border-color: @syellow-background;
//         background: @yellow-background;
//     }
// }

// .vi-radio-blue.is-button.be-checked {
//     .vi-radio-text {
//         border-color: @sblue-background;
//         background: @blue-background;
//     }
// }

.vi-radio-appreance.is-default.be-checked {
    .vi-radio-text {
        box-shadow: none;
        background-color: transparent;
    }
}