.vi-radio-appreance.is-dark {
    color: @black-background-hover;

    .vi-radio-circle {
        border-color: @black-background-hover;
    }
}

.vi-radio-appreance.is-button.is-dark {
    .vi-radio-text {
        border-color: @black-background-hover;
    }
}