.vi-radio-appreance.is-disabled {
    color: var(--vi-background-color);
    .vi-radio-circle {
        box-shadow: inset 0 0 1px 0 var(--vi-background-color);
    }

    .vi-radio-text {
        color: var(--vi-background-color);
    }

    &:hover {
        .vi-radio-circle {
            box-shadow: inset 0 0 1px 0 var(--vi-background-color);
        }
    }
}

.vi-radio-appreance.is-button.is-disabled {
    color: var(--vi-background-color);
    .vi-radio-text {
        box-shadow: inset 0 0 1px 0 var(--vi-background-color);
    }

    &:hover {
        .vi-radio-text {
            box-shadow: inset 0 0 1px 0 var(--vi-background-color);
        }
    }   
}