.vi-radio.is-disabled {
    color: var(--vi-background-color-deep);
    .vi-radio-circle {
        box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);
        .vi-radio-ball {
            background-color: transparent;
        }
    }

    .vi-radio-text {
        color: var(--vi-background-color-deep);
    }

    &:hover {
        .vi-radio-circle {
            box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);
        }
    }
}

.vi-radio-type-button.is-disabled {
    color: var(--vi-background-color-deep);
    .vi-radio-text {
        box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);
        background-color: transparent;
    }

    &:hover {
        .vi-radio-text {
            box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);
        }
    }   
}