@import '../../../../public/css/basecolor.less';
@import '../../../../public/css/base.less';

.vi-radio-appreance {
    display: inline-flex;
    color: @grey;
    user-select: none;
    transition: all .3s linear 0s;
    align-items: center;

    .vi-radio {
        display: none;
    }

    .vi-radio-circle {
        position: relative;
        display: inline-flex;
        box-sizing: border-box;
        border: 1px solid @grey;
        margin: 0 2px;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;

        &::before {
            opacity: 0;
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            background-color: @mpurple;
            transition: all .2s linear 0s;
        }
    }

    .vi-radio-text {
        margin: 0 2px;
    }
}

.vi-radio-appreance.is-middle {
    font-size: @font-size;
    .vi-radio-circle {
        width: 18px;
        height: 18px;
    }
}

.vi-radio-appreance.is-small {
    font-size: @small-font-size;
    .vi-radio-circle {
        width: 13px;
        height: 13px;
    }
}

.vi-radio-appreance.is-big {
    font-size: @big-font-size;
    .vi-radio-circle {
        width: 23px;
        height: 23px;
    }
}

.vi-radio-appreance.is-button {
    .vi-radio-circle {
        display: none;
    }

    .vi-radio-text {
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid @grey;
        border-radius: 5px;
        cursor: pointer;
        transition: all .2s linear 0s;
    }
}

@import './dark.less';
@import './checked.less';
@import './color.less';