@import '../../../../public/css/basecolor.less';
@import '../../../../public/css/base.less';

.vi-radio-appreance {
    display: inline-flex;
    color: @grey;
    user-select: none;
    transition: all .3s linear 0s;
    align-items: center;

    .vi-radio {
        display: none;
    }

    .vi-radio-circle {
        position: relative;
        display: inline-flex;
        box-sizing: border-box;
        border: 1px solid var(--vi-background-color);
        margin: 0 2px;
        background-color: transparent;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        // &::before {
        //     opacity: 0;
        //     content: "";
        //     position: absolute;
        //     top: 2px;
        //     left: 2px;
        //     border-radius: 50%;
        //     background-color: @mpurple;
        //     transition: all .2s linear 0s;
        // }
        .vi-radio-ball {
            opacity: 0;
            border-radius: 50%;
            transition: all .2s linear 0s;
        }
    }

    .vi-radio-text {
        margin: 0 2px;
    }
}

.vi-radio-appreance.is-middle {
    font-size: @font-size;
    .vi-radio-circle {
        width: 13px;
        height: 13px;

        .vi-radio-ball {
          width: 9px;
          height: 9px;
        }
    }
}

.vi-radio-appreance.is-small {
    font-size: @small-font-size;
    .vi-radio-circle {
        width: 8px;
        height: 8px;

        .vi-radio-ball {
            width: 4px;
            height: 4px;
        }
    }
}

.vi-radio-appreance.is-big {
    font-size: @big-font-size;
    .vi-radio-circle {
        width: 18px;
        height: 18px;

        .vi-radio-ball {
            width: 14px;
            height: 14px;
        }
    }
}

.vi-radio-appreance.is-button {
    .vi-radio-circle {
        display: none;
    }

    .vi-radio-text {
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid @grey;
        border-radius: 5px;
        cursor: pointer;
        transition: all .2s linear 0s;
    }
}

@import './dark.less';
@import './checked.less';
@import './color.less';