@import '../../../../public/css/basecolor.less';
@import '../../../../public/css/base.less';

.vi-radio-appreance {
    display: inline-flex;
    color: var(--vi-link-color);
    user-select: none;
    transition: all .3s linear 0s;
    align-items: center;

    .vi-radio {
        display: none;
    }

    .vi-radio-circle {
        display: inline-flex;
        box-sizing: border-box;
        width: 1em;
        height: 1em;
        padding: 2px;
        margin: 0 2px;
        background-color: transparent;
        box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: var(--vi-transition);

        .vi-radio-ball {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .vi-radio-text {
        margin: 0 2px;
    }

    &:hover {
        .vi-radio-circle {
            box-shadow: inset 0 0 0 1px var(--vi-icon-color);
        }
    }
}

.vi-radio-appreance.is-middle {
    font-size: @font-size;
}

.vi-radio-appreance.is-small {
    font-size: @small-font-size;
}

.vi-radio-appreance.is-big {
    font-size: @big-font-size;
}

.vi-radio-appreance.is-button {
    .vi-radio-circle {
        display: none;
    }

    .vi-radio-text {
        display: inline-block;
        padding: 6px 20px;
        box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);
        border-radius: var(--vi-card-radius);
        cursor: pointer;
        transition: all .2s linear 0s;
    }

    // &:hover {
    //     .vi-radio-text {
    //         box-shadow: inset 0 0 0 1px var(--vi-icon-color);
    //     }
    // }
}

// .vi-radio-appreance.is-button.be-checked {
//     &:hover {
//         .vi-radio-text {
//             box-shadow: inset 0 0 0 1px var(--vi-icon-color);
//         }
//     }
// }

@import './dark.less';
@import './checked.less';
@import './color.less';
@import './disabled.less';