.vi-select.is-button {
    color: @lblack-background;
    .vi-select-input {
        background-color: #fff;
        border-radius: 5px;

        .vi-select-arrow {
            path {
                fill: @lblack-background;
            }
        }
    }

    .vi-select-box {
        background-color: #fff;
    }
}

.vi-select.is-button.is-dark {
    color: @lblack-background;
    .vi-select-input {
        background-color: @black-background-hover;
        .vi-select-arrow {
            path {
                fill: @lblack-background;
            }
        }
    }

    .vi-select-box {
        background-color: @black-background-hover;
    }
}