.vi-tag {
    display: inline-block;
    padding: var(--vi-tag-padding);
    color: var(--vi-link-color);
    text-align: center;
    background-color: var(--vi-background-color);
    border-radius: 2.4em;
    user-select: none;
    cursor: pointer;
    transition: var(--vi-transition);

    span {
        text-align: center;
    }
}

.vi-tag.is-middle {
    font-size: var(--vi-font-size);
}

.vi-tag.is-small {
    font-size: var(--vi-small-font-size);
}

.vi-tag.is-big {
    font-size: var(--vi-big-font-size);
}

.vi-tag--default {
    &:hover {
        background-color: var(--vi-background-color-deep);
    }
}

.vi-tag--purple {
    color: #fff;
    background-color: var(--vi-purple-color3);
}

.vi-tag--pink {
    color: #fff;
    background-color: var(--vi-pink-color3);
}

.vi-tag--red {
    color: #fff;
    background-color: var(--vi-red-color3);
}

.vi-tag--green {
    color: #fff;
    background-color: var(--vi-green-color3);
}

.vi-tag--yellow {
    color: #fff;
    background-color: var(--vi-yellow-color3);
}

.vi-tag--blue {
    color: #fff;
    background-color: var(--vi-blue-color3);
}