.vi-option {
    display: flex;
    width: 100%;
    padding: .4em .6em;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
        background-color: var(--vi-background-color);
    }
}

.vi-option.choose-default.be-choosed {
    background-color: var(--vi-purple-color6);
}

.vi-option.choose-plain.be-choosed {
    color: var(--vi-purple-color2);
}
