.vi-option-group {
    width: 100%;
    box-sizing: border-box;

    .vi-option-group__title {
        width: 100%;
        padding: .4em .6em;
        color: var(--vi-icon-color);
        text-align: left;
        box-sizing: border-box;
        cursor: default;
    }

    .vi-option-group__centent {
        width: 100%;
        box-sizing: border-box;
    }
}