.vi-select {
    --vi-dropdown-gap: var(--vi-select-list-gap);
    --vi-dropdown-width: var(--vi-select-list-width);
    --vi-dropdown-height: var(--vi-select-list-height);
    --vi-dropdown-max-height: var(--vi-select-list-max-height);
    --vi-scroll-width: var(--vi-select-list-width);
    --vi-scroll-height: var(--vi-select-list-height);
    --vi-scroll-max-height: var(--vi-select-list-max-height);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    box-sizing: border-box;
    cursor: default;
    transition: var(--vi-transition);

    .vi-select-input {
        display: inline-flex;
        width: var(--vi-select-width);
        height: var(--vi-select-height);
        padding: var(--vi-select-padding);
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        transition: var(--vi-transition);

        .vi-select-choose {
            display: flex;
            overflow: hidden;
            word-wrap: break-word;
            text-align: left;
            gap: 2px;
            flex: 1;
            flex-wrap: wrap;

            input {
                width: 100%;
                height: 100%;
                padding: 0;
                border: none;
                outline: none;
            }
        }

        .vi-select-arrow {
            display: inline-flex;
            width: 1em;
            height: 1em;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            cursor: pointer;
            transform: scale(64%) rotateX(180deg);
            transition: all .2s linear 0s;
        }
    }

    .vi-select-box-normal {
        position: relative;
        display: block;
        top: 0;
        text-align: center;
        background-color: var(--vi-background-color-base);
        border-radius: var(--vi-card-radius);

        .vi-select-box__virtual-scroll-item {
            height: var(--vi-option-height);
        }
    }
}

.vi-select.be-open {
    .vi-select-input {
        .vi-select-arrow {
            transform: scale(64%) rotateX(0deg);
        }
    }
}

.vi-select {
    .vi-select-input.be-open {
        .vi-select-arrow {
            transform: scale(64%) rotateX(0deg);
        }
    }
}

.vi-select.is-disabled {
    position: relative;
    cursor: no-drop;
    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
}

@import './size.less';
@import './type.less';