@import '../../../../public/css/base.less';

.vi-select {
    .vi-select-list {
        width: 100%;
        .vi-select-list-container {
            position: absolute;
            top: 2px;
            left: 0;
            width: var(--vi-select-width);
            height: var(--vi-select-height);
            max-height: var(--vi-select-max-height);
            background-color: #fff;
            border-radius: var(--vi-card-radius);
            box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);
        }
    }

    .vi-select-box-normal {
        position: relative;
        display: block;
        top: 0;
    }
}