.vi-select-type-button {
    color: var(--vi-link-color);
    .vi-select-input {
        background-color: var(--vi-background-color);
        border-radius: var(--vi-card-radius);

        .vi-select-arrow {
            path {
                fill: var(--vi-link-color);
            }
        }
    }

    .vi-select-box {
        background-color: var(--vi-background-color-solid);
    }

    &:hover {
        .vi-select-input {
            background-color: var(--vi-background-color-deep);
        }   
    }
}

.vi-select-type-button.is-disabled {
    color: var(--vi-background-color-base);
    .vi-select-input {
        .vi-select-arrow {
            path {
                fill: var(--vi-background-color-base);
            }
        }
    }

    &:hover {
        .vi-select-input {
            background-color: var(--vi-background-color);
        }   
    }
}

.vi-select-type-default {
    position: relative;
    color: var(--vi-link-color);

    .vi-select-input {
        padding-left: 0;
        .vi-select-arrow {
            path {
                fill: var(--vi-link-color);
            }
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--vi-background-color-deep);
            transition: all .3s ease 0s;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--vi-background-color-deep);
            transition: all .3s ease 0s;
        }
    }

    // 暂时不启用
    // .vi-select-input.be-open {
    //     &::before {
    //         width: 100%;
    //     }
    // }

    .vi-select-box {
        color: var(--vi-link-color);
        box-shadow: 0 0 0 1px var(--vi-background-color-deep);
    }

    &:hover {
        .vi-select-input {
            &::after {
                background-color: var(--vi-background-color-deeper);
            }
        }
    }
}

.vi-select-type-default.is-disabled {
    color: var(--vi-background-color-deep);

    .vi-select-input {
        .vi-select-arrow {
            path {
                fill: var(--vi-background-color-deep);
            }
        }
    }

    &:hover {
        .vi-select-input {
            &::after {
                background-color: var(--vi-background-color-deep);
            }
        }
    }
}

.vi-select-type-plain {
    color: var(--vi-link-color);

    .vi-select-input {
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 0 0 0 1px var(--vi-background-color-deep);
        border-radius: var(--vi-card-radius);
        .vi-select-arrow {
            path {
                fill: var(--vi-link-color);
            }
        }
    }

    .vi-select-box {
        color: var(--vi-link-color);
        box-shadow: 0 0 0 1px var(--vi-background-color-deep);
    }

    &:hover {
        .vi-select-input {
            box-shadow: 0 0 0 1px var(--vi-background-color-deeper);
        }
    }
}

.vi-select-type-plain.is-disabled {
    color: var(--vi-background-color-deep);

    .vi-select-input {
        box-shadow: 0 0 0 1px var(--vi-background-color-deep);
        .vi-select-arrow {
            path {
                fill: var(--vi-background-color-deep);
            }
        }
    }

    &:hover {
        .vi-select-input {
            box-shadow: 0 0 0 1px var(--vi-background-color-deep);
        }
    }
}