.vi-link {
    color: var(--vi-link-color);
    text-decoration: none;
    cursor: pointer;
    transition: var(--vi-transition);
}

.vi-link.is-middle {
    font-size: var(--vi-font-size);
}

.vi-link.is-big {
    font-size: var(--vi-big-font-size);
}

.vi-link.is-small {
    font-size: var(--vi-small-font-size);
}

.vi-link--default {
    color: var(--vi-link-color);
    &:hover {
        color: var(--vi-purple-color1);
    }
}

.vi-link--dark {
    color: var(--vi-font-color);
    &:hover {
        color: var(--vi-link-color);
    }
}

.vi-link--purple {
    color: var(--vi-purple-color3);
    &:hover {
        color: var(--vi-purple-color1);
    }
}

.vi-link--red {
    color: var(--vi-red-color3);
    &:hover {
        color: var(--vi-red-color1);
    }
}

.vi-link--pink {
    color: var(--vi-pink-color3);
    &:hover {
        color: var(--vi-pink-color1);
    }
}

.vi-link--green {
    color: var(--vi-green-color3);
    &:hover {
        color: var(--vi-green-color1);
    }
}

.vi-link--yellow {
    color: var(--vi-yellow-color3);
    &:hover {
        color: var(--vi-yellow-color1);
    }
}

.vi-link--blue {
    color: var(--vi-blue-color3);
    &:hover {
        color: var(--vi-blue-color1);
    }
}