.vi-input-table {
    .vi-input-table__tr {
        // display: block;
        .vi-input-table__th {
            // display: block;
            width: var(--vi-table-td-width);
            height: var(--vi-table-header-height);
            border: 1px solid var(--vi-table-border-color);
            text-align: left;
            // border-bottom: 1px solid var(--vi-background-color-deep);
            color: var(--vi-link-color);
            font-weight: 600;
            box-sizing: border-box;
            user-select: none;
        }

        .vi-input-table__sider-td {
            width: var(--vi-table-sider-width);
        }

        .vi-input-table__th__view {
            overflow: hidden;
            width: var(--vi-table-td-width);
            height: var(--vi-table-header-height);
            padding: var(--vi-table-td-padding);
            box-sizing: border-box;
        }
    }
}