.vi-input-table {
    .vi-input-table__tr {
        .vi-input-table__td {
            position: relative;
            border: 1px solid var(--vi-table-border-color);
            box-sizing: border-box;
            color: var(--vi-table-td-color);

            .vi-input-table__td__text {
                overflow: hidden;
                width: var(--vi-table-td-width);
                height: var(--vi-table-td-height);
                padding: var(--vi-table-td-padding);
                box-sizing: border-box;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: text;
            }

            .vi-input-table__td__input {
                position: absolute;
                z-index: 1;
                top: -1px;
                left: -1px;
                border: 1px solid var(--vi-table-border-color);
                width: calc(var(--vi-table-td-width) + 1px);
                height: auto;
                padding: var(--vi-table-td-padding);
                box-sizing: border-box;
                background-color: var(--vi-table-td-bg-color);
                outline: none;
                resize: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            &:hover {
                background-color: var(--vi-table-td-hover-bg-color);
            }
        }

        .vi-input-table__sider-td {
            padding: var(--vi-table-td-padding);
            width: var(--vi-table-sider-width);
        }

        .vi-radio-text {
            display: none;
        }

        .vi-checkbox-text {
            display: none;
        }
    }
}