.vi-input-table {
    --vi-table-width: auto;
    --vi-table-height: auto;
    --vi-table-sider-width: 32px;
    --vi-table-td-padding: .3em .4em;
    --vi-scroll-width: var(--vi-table-width);
    --vi-scroll-height: var(--vi-table-height);

    table {
      border-collapse: collapse;
        .vi-input-table__tr {
            // display: block;
            height: var(--vi-table-td-height);
        }

        .vi-input-table__sider-td {
            width: var(--vi-table-sider-width);
        }
    }
}