.vi-input-table {
    table {
        .vi-input-table__tr {
            .vi-input-table__td {
                overflow: hidden;
                width: var(--vi-table-td-width);
                height: var(--vi-table-td-height);
                padding: var(--vi-table-td-padding);
                border: 1px solid var(--vi-background-color-deep);
                box-sizing: border-box;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}