.vi-input-table {
    --vi-table-td-padding: .4em .6em;
    --vi-scroll-width: var(--vi-table-width);
    --vi-scroll-height: var(--vi-table-height);

    table {
      border-collapse: collapse;
        .vi-input-table__tr {
            // display: block;
            height: var(--vi-table-td-height);
        }
    }
}