@font-size: 14px;
@small-font-size: 12px;

@font-face {
    font-family: 'normal-font';
    src: url('../fonts/zcool-gdh_Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: inline;
    font-style: normal;
}