@font-size: var(--vi-font-size);
@small-font-size: var(--vi-small-font-size);
@big-font-size: var(--vi-big-font-size);

@font-face {
    font-family: 'normal-font';
    src: url('../fonts/DingTalk_JinBuTi_Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: inline;
    font-style: normal;
}

// * {
//   font-family: normal-font;
// }