@white: #fff;
@black: #000; 
@black-background: #0f0b28;
@black-background-hover: #16122d;

//golden
@golden: #B79069;

// grey
@dgrey: #262626;
@grey:#97a4b3;
@mgrey: #dae1ea;
@lgrey:#f4f9ff;
@s-background:#accbee;
@s-o3: #b3d4fa30;
@s-background-hover:#ccd8e6;
@default-background: linear-gradient(275deg, #accbee 0%, #e2e6f0 100%);
@default-background-hover: linear-gradient(275deg, #b7cee8 0%, #e7f0fa 100%);
// red
@red: #ff7d70;
@lred: #ffe9e7;
@sred-background: #ff7d70;
@sred-background-hover: #fa948a;
@sred-o3: #ffa29a46;
@red-background: linear-gradient(to left, #ff4c43 0%, #ff7a69 100%);
@red-background-hover: linear-gradient(to left, #ff7068 0%, #ff8979 100%);
// yellow
@yellow: #fec60e;
@lyellow: #fff8e5;
@syellow-background: #ffc837;
@syellow-background-hover: #fed264;
@syellow-o3: #ffdc854c;
@yellow-background: linear-gradient(-225deg, #ffe641 0%, #ff8120 100%);
@yellow-background-hover: linear-gradient(-225deg, #FFE29F 0%, #ff9350 100%);
// pink
@pink: #ffb2ae;
@lpink: #fff7fa;
@spink-background: #ffb2ae;
@spink-background-hover: #f9bfbb;
@spink-o3: #ffc6c348;
@pink-background: linear-gradient(to left, #ff8b85 0%, #ffbcb0 100%);
@pink-background-hover: linear-gradient(to left, #ff9d94 0%, #ffc6c6 100%);
// blue
@blue: #6cb4c2;
@lblue: #e8fbff;
@sblue-background: #8acfdc;
@sblue-background-hover: #a9e2ee;
@sblue-o3: #bfe7ef4f;
@blue-background: linear-gradient(to left, #7dbbd4 0%, #96e1e4 100%);
@blue-background-hover: linear-gradient(to left, #7dbbd4 0%, #96e1e4 100%);
// green
@green: #6ac573;
@lgreen: #e0ffe3;
@sgreen-background: #73da7e;
@sgreen-background-hover: #86da8f;
@sgreen-o3: #86da8e4d;
@green-background: linear-gradient(to left, #31cf58 0%, #6bf0ad 100%);
@green-background-hover: linear-gradient(to left, #59cd76 0%, #8cf0a3 100%);
// purple
@purple: #9848f6;
@lpurple: #f1e5ff;
@spurple-background: #9848f6;
@spurple-background-hover: #ae71f3;
@spurple-o3: #d6b5fb43;
@purple-background: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
@purple-background-hover: linear-gradient(-225deg, #b224ef 0%, #7579ff 100%);


