:root {
    --vi-scroll-height: 400px;
    --vi-scroll-width: ;
    --vi-scroll-max-height: ;
    --vi-virtual-scroll-width: ;
    --vi-virtual-scroll-height: ;
    --vi-virtual-scroll-max-height: 400px;
    --vi-select-width: ;
    --vi-select-height: ;
    --vi-select-scroll-width: 100%;
    --vi-select-max-height: 400px;
}