:root {
    /* 基础配置 */
    --vi-font-size: 14px;
    --vi-small-font-size: 12px;
    --vi-big-font-size: 18px;

    --vi-card-radius: 4px;
    --vi-round-radius: 1.3em;
    --vi-card-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.02), 
    0px 6px 12px rgba(0, 0, 0, 0.02);
    --vi-card-padding: .6em .8em;
    --vi-box-shadow: 0px 1px 3px #0000000a,0px 2px 8px #00000014;
    --vi-blur: 2px;
    --vi-transition: all .2s ease 0s;
    --vi-transition-slow: all .3s ease 0s;
    --vi-transition-large: all .5s ease 0s;
    --vi-transition-large-linear: all .5s linear 0s;

    --vi-fade-in-out-len: 5px;
    /* 组件样式们 */
    --vi-button-padding: var(--vi-card-padding);

    --vi-tag-padding: .2em .6em;

    --vi-scroll-height: ;
    --vi-scroll-width: ;
    --vi-scroll-max-height: ;
    --vi-scroll-min-height: ;
    --vi-scroll-item-height: 40px;

    --vi-form-label-width: 4em;
    --vi-form-label-gap: 8px;
    --vi-form-item-width: ;
    --vi-form-item-gap: 2px;

    --vi-select-width: 200px;
    --vi-select-height: 2.2em;
    --vi-select-padding: var(--vi-card-padding);
    --vi-select-list-gap: 4px;
    --vi-select-list-width: 100%;
    --vi-select-list-height: ;
    --vi-select-list-max-height: ;
    /* 弃用，目前还用于select-v没改（已改） */
    /* --vi-select-scroll-width: 100%;
    --vi-select-max-height: 400px;
    --vi-select-scroll-min-width: ;
    --vi-select-scroll-max-width: ; */
    --vi-option-height: 1.8em;
    --vi-option-padding: .4em .6em;

    --vi-dialog-width: 400px;
    --vi-dialog-height: auto;
    --vi-dialog-padding: var(--vi-card-padding);
    --vi-dialog-inner-padding: 10px 0;
    --vi-dialog-top: 20vh;
    --vi-dialog-title-color: var(--vi-font-color);
    --vi-dialog-color: var(--vi-link-color);
    --vi-dialog-background-color: var(--vi-background-color-base);
    --vi-dialog-mask-color: ;
    --vi-dialog-content-text-align: left;
    --vi-dialog-option-text-align: right;

    --vi-input-width: 200px;
    --vi-input-height: 2.2em;
    --vi-input-padding: var(--vi-card-padding);
    --vi-input-inner-padding: 0.6em;
    --vi-input-prefix-width: auto;
    --vi-input-suffix-width: auto;

    --vi-switch-left-color: var(--vi-background-color); 
    --vi-switch-right-color: var(--vi-main-color3);

    --vi-date-select-width: 200px;
    --vi-date-select-height: 2.2em;
    --vi-date-select-padding: var(--vi-card-padding);
    --vi-date-select-list-gap: 4px;
    --vi-date-select-list-width: auto;
    --vi-date-select-list-height: ;
    --vi-date-select-list-max-height: ;

    --vi-time-select-width: 200px;
    --vi-time-select-height: 2.2em;
    --vi-time-select-padding: var(--vi-card-padding);
    --vi-time-select-list-gap: 4px;
    --vi-time-select-list-width: auto;
    --vi-time-select-list-height: ;
    --vi-time-select-list-max-height: ;

    --vi-dropdown-width: 100%;
    --vi-dropdown-height: ;
    --vi-dropdown-max-height: ;
    --vi-dropdown-gap: 2px;

    --vi-drawer-width: 300px;
    --vi-drawer-height: 300px;
    --vi-drawer-padding: var(--vi-card-padding);
    --vi-drawer-handler-size: 24px;

    --vi-header-height: 44px;
    --vi-header-padding: 0 16px;

    --vi-nav-width: ;
    --vi-nav-height: ;
    --vi-nav-gap: 1em;
    --vi-nav-font-size: 16px;

    --vi-collapse-width: 200px;
    --vi-collapse-overflow-x: hidden;

    --vi-menu-width: 200px;

    --vi-bubble-width: 100px;
    --vi-bubble-height: ;
    --vi-bubble-gap: 8px;

    --vi-table-width: 500px;
    --vi-table-height: 200px;
    --vi-table-header-height: 25px;
    --vi-table-sider-width: 40px;
    --vi-table-td-width: 70px;
    --vi-table-td-height: 25px;
    --vi-table-td-padding: .6em 0;

    --vi-upload-width: 100%;
    --vi-upload-height: ;
    --vi-upload-list-width: 100%;

    --vi-message-width: 240px;
    --vi-message-top: 5vh;
    --vi-message-right: 10px;

    --vi-loading-width: 50px;
    --vi-loading-height: 50px;

    /* 颜色样式们 */
    /* 字体样式 */
    /* default */
    --vi-info-background-color: #262626de;
    --vi-info-background-color-solid: #424242;
    --vi-font-color: #262626; /* dark */
    --vi-link-color: rgb(38, 38, 38, 0.75); /*default*/
    /* 该颜色作用于所有disabled组件样式颜色 */
    --vi-icon-color: #8C8C8C;
    --vi-background-color-deepest: #b8b8b8;
    --vi-background-color-deeper: #cbcbcb;
    --vi-background-color-deep: #E5E5E5;
    --vi-bg-color-deepest-alpha: #9f9f9f98;
    --vi-bg-color-deeper-alpha: #acacac98;
    --vi-bg-color-deep-alpha: #cfcfcf73;
    --vi-background-color-middle: rgba(0, 10, 32, 0.1);
    --vi-background-color: rgb(0, 10, 32, 0.05);
    --vi-background-color-solid: #f2f3f4;
    --vi-border-color: #E2E8F0;
    --vi-background-color-base: #fff;
    /* 规则配色 */
    /* dark mode*/
    --vi-dark-color1: #0F0B28;
    --vi-dark-color2: #322C4A;
    --vi-dark-color3: #5A5278;
    --vi-dark-color4: #8A82A6;
    /* purple */
    --vi-purple-color1: #A486C6;
    --vi-purple-color2: #B08ED4;
    --vi-purple-color3: #B498D5;
    --vi-purple-color4: #F1E5FF;
    --vi-purple-color5: rgba(181, 136, 233, 0.1);
    --vi-purple-color6: rgba(181, 136, 233, 0.3);
    --vi-purple-background: linear-gradient(-225deg, #b588e9 0%, #a053ff 48%, #4254f2 100%);
    /* red */
    --vi-red-color1: #FF7D70;
    --vi-red-color2: #FF7D70;
    --vi-red-color3: #FA948A;
    --vi-red-color4: #FFE9E7;
    --vi-red-color5: rgba(255, 125, 112, 0.1);
    --vi-red-background: linear-gradient(to left, #ff4c43 0%, #ff7a69 100%);
    /* pink */
    --vi-pink-color1: #FFB2AE;
    --vi-pink-color2: #FFB2AE;
    --vi-pink-color3: #F9BFBB;
    --vi-pink-color4: #FFF7FA;
    --vi-pink-color5: rgba(255, 178, 174, 0.1);
    --vi-pink-background: linear-gradient(to left, #ff8b85 0%, #ffbcb0 100%);
    /* blue */
    --vi-blue-color1: #6CB4C2;
    --vi-blue-color2: #8ACFDC;
    --vi-blue-color3: #A9E2EE;
    --vi-blue-color4: #E8FBFF;
    --vi-blue-color5: rgba(108, 180, 194, 0.1);
    --vi-blue-background: linear-gradient(to left, #7dbbd4 0%, #96e1e4 100%);
    /* yellow */
    --vi-yellow-color1: #FEC60E;
    --vi-yellow-color2: #FFC837;
    --vi-yellow-color3: #FED264;
    --vi-yellow-color4: #FFF8E5;
    --vi-yellow-color5: rgba(254, 198, 14, .05);
    --vi-yellow-background: linear-gradient(-225deg, #ffe641 0%, #ff8120 100%);
    /* green */
    --vi-green-color1: #6AC573;
    --vi-green-color2: #73DA7E;
    --vi-green-color3: #86DA8F;
    --vi-green-color4: #E0FFE3;
    --vi-green-color5: rgba(115, 218, 126, 0.1);
    --vi-green-background: linear-gradient(to left, #31cf58 0%, #6bf0ad 100%);
    /* golden */
    --vi-golden-color1: #C0986F;
    --vi-golden-color2: #cba37b;
    /* main */
    --vi-main-color1: var(--vi-purple-color1);
    --vi-main-color2: var(--vi-purple-color2);
    --vi-main-color3: var(--vi-purple-color3);
    --vi-main-color4: var(--vi-purple-color4);
    --vi-main-color5: var(--vi-purple-color5);
    --vi-main-color6: var(--vi-purple-color6);
}

body {
    font-size: var(--vi-font-size);
    color: var(--vi-font-color);
}

h1 {
    padding: 0;
    font-size: 36px;
}

h2 {
    padding: 0;
    font-size: 32px;
}

h3 {
    padding: 0;
    font-size: 28px;
}

h4 {
    padding: 0;
    font-size: 24px;
}

h5 {
    padding: 0;
    font-size: 22px;
}

h6 {
    padding: 0;
    font-size: 20px;
}

p {
    padding: 0;
    font-size: 14px;
}