.vi-button {
    overflow: hidden;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #000;
    // -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: all 0.2s ease 0s;
    font-weight: 500;
    // 禁止元素的文字被选中
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: var(--vi-button-padding);
    font-size: var(--vi-font-size);
    border-radius: 4px;
}

.vi-button > span {
  display: flex;
  align-items: center;
  justify-content: space-around
}

@import './type';
@import './size';
@import './default';
@import './red';
@import './pink';
@import './blue';
@import './yellow';
@import './purple.less';
@import './green.less';
@import './dark.less';
@import './disabled';