.vi-button--grey {
    border: none;
    color: @white;
    background: @default-background;

    &:hover {
        color: @white;
        background: @default-background-hover;
    }
}

.vi-button--pink {
    border: none;
    color: @white;
    background: @pink-background;

    &:hover {
        color: @white;
        background: @pink-background-hover;
    }
}

.vi-button--red {
    border: none;
    color: @white;
    background: @red-background;

    &:hover {
        color: @white;
        background: @red-background-hover;
    }
}

.vi-button--purple {
    border: none;
    color: @white;
    background: @purple-background;

    &:hover {
        color: @white;
        background: @purple-background-hover;
    }
}

.vi-button--yellow {
    border: none;
    color: @white;
    background: @yellow-background;

    &:hover {
        color: @white;
        background: @yellow-background-hover;
    }
}

.vi-button--green {
    border: none;
    color: @white;
    background: @green-background;

    &:hover {
        color: @white;
        background: @green-background-hover;
    }
}

.vi-button--blue {
    border: none;
    color: @white;
    background: @blue-background;

    &:hover {
        color: @white;
        background: @blue-background-hover;
    }
}

.vi-button.vi-button--sgrey {
    border: none;
    color: @white;
    background: @s-background;

    &:hover {
        color: @white;
        background: @s-background-hover;
    }
}

.vi-button.vi-button--spink {
    border: none;
    color: @white;
    background: @spink-background;

    &:hover {
        color: @white;
        background: @spink-background-hover;
    }
}

.vi-button.vi-button--sred {
    border: none;
    color: @white;
    background: @sred-background;

    &:hover {
        color: @white;
        background: @sred-background-hover;
    }
}

.vi-button.vi-button--spurple {
    border: none;
    color: @white;
    background: @spurple-background;

    &:hover {
        color: @white;
        background: @spurple-background-hover;
    }
}

.vi-button.vi-button--syellow {
    border: none;
    color: @white;
    background: @syellow-background;

    &:hover {
        color: @white;
        background: @syellow-background-hover;
    }
}

.vi-button.vi-button--sgreen {
    border: none;
    color: @white;
    background: @sgreen-background;

    &:hover {
        color: @white;
        background: @sgreen-background-hover;
    }
}

.vi-button.vi-button--sblue {
    border: none;
    color: @white;
    background: @sblue-background;

    &:hover {
        color: @white;
        background: @sblue-background-hover;
    }
}