.vi-button--default {
    border: none;
    color: var(--vi-link-color);
    background: var(--vi-background-color);

    &:hover {
        background: var(--vi-background-color-deep);
    }
}

.vi-button--default.is-mutate {
    border: none;
    color: var(--vi-link-color);
    background: var(--vi-background-color);

    &:hover {
        background: var(--vi-background-color-deep);
    }
}

.vi-button--default.vi-button-type-plain {
    color: var(--vi-link-color);
    background: transparent;
    box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);

    &:hover {
        color: var(--vi-main-color1);
        box-shadow: inset 0 0 0 1px var(--vi-main-color1);
    }
}

.vi-button--default.vi-button-type-plain.is-mutate {
    color: var(--vi-link-color);
    background: transparent;
    box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);

    &:hover {
        color: var(--vi-main-color1);
        box-shadow: inset 0 0 0 1px var(--vi-main-color1);
        background-color: var(--vi-main-color5);
    }
}

.vi-button--default.vi-button-type-transparent {
    color: var(--vi-link-color);
    background: transparent;

    &:hover {
      color: var(--vi-main-color1);
    }
}

.vi-button--default.vi-button-type-transparent.is-mutate {
    color: var(--vi-link-color);
    background: transparent;

    &:hover {
      color: var(--vi-main-color1);
      background-color: var(--vi-main-color5);
    }
}