.vi-button {
    &:disabled {
        cursor: no-drop;
        color: #fff;
        background: var(--vi-background-color);
    }

    &:hover:disabled {
        cursor: no-drop;
        color: #fff;
        background: var(--vi-background-color);
    }
}

.vi-button.is-plain {
    &:disabled {
        border-color: var(--vi-background-color);
        color: var(--vi-background-color);
        background: transparent;
    }

    &:hover:disabled {
        border-color: var(--vi-background-color);
        color: var(--vi-background-color);
        background: transparent;
    }
}

.vi-button.is-transparent {
    &:disabled {
        color: var(--vi-background-color);
        background: transparent;
    }

    &:hover:disabled {
        color: var(--vi-background-color);
        background: transparent;
    }
}