.vi-button {
    &:disabled {
        cursor: no-drop;
        color: #fff;
        background: var(--vi-background-color-deep);
    }

    &:disabled:hover {
        cursor: no-drop;
        color: #fff;
        background: var(--vi-background-color-deep);
    }
}

.vi-button.vi-button-type-plain {
    &:disabled {
        box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);
        color: var(--vi-background-color-deep);
        background: transparent;
    }

    &:disabled:hover {
        box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);
        color: var(--vi-background-color-deep);
        background: transparent;
    }
}

.vi-button.vi-button-type-transparent {
    &:disabled {
        color: var(--vi-background-color-deep);
        background: transparent;
    }

    &:disabled:hover {
        color: var(--vi-background-color-deep);
        background: transparent;
    }
}