.vi-button.is-disabled {
    cursor: no-drop;
    &:disabled {
        background: @mgrey;
    }
}

.vi-button.is-disabled.is-plain {
    &:disabled {
        border-color: @mgrey;
        color: @mgrey;
        background: @white;
    }
}

.vi-button.is-disabled.is-transparent {
    &:disabled {
        color: @mgrey;
        background: @white;
    }
}