.vi-button--purple {
    border: none;
    color: @white;
    background: var(--vi-purple-color3);

    &:hover {
        color: @white;
        background: var(--vi-purple-color2);
    }
}

.vi-button--purple.is-mutate {
    border: none;
    color: #fff;
    background: var(--vi-purple-background);

    &:hover {
        background: var(--vi-purple-background);
    }
}

.vi-button--purple.is-plain {
    color: var(--vi-purple-color1);
    background: transparent;
    border: 1px solid var(--vi-purple-color1);

    &:hover {
        color: var(--vi-purple-color1);
        border-color: var(--vi-purple-color1);
        background-color: var(--vi-purple-color5);
    }
}

.vi-button--purple.is-plain.is-mutate {
    color: var(--vi-purple-color1);
    background-color: var(--vi-purple-color5);
    border: 1px solid var(--vi-purple-color1);

    &:hover {
        color: #fff;
        border-color: var(--vi-purple-color1);
        background: var(--vi-purple-color1);
    }
}

.vi-button--purple.is-transparent {
    color: var(--vi-purple-color1);
    background: transparent;

    &:hover {
      color: var(--vi-purple-color1);
      background-color: var(--vi-purple-color5);
    }
}

.vi-button--purple.is-transparent.is-mutate {
    color: var(--vi-purple-color1);
    background-color: var(--vi-purple-color5);

    &:hover {
      color: #fff;
      background: var(--vi-purple-color1);
    }
}