.vi-button.is-plain {
    background: transparent;
    border: 1px solid #000;
    color: #000;
    &:hover {
        color: @white;
    }
}

.vi-button--grey.is-plain {
    color: @grey;
    border-color: @grey;

    &:hover {
      color: @grey;
      background: @lgrey;
    }
}

.vi-button--pink.is-plain {
    color: @pink;
    border-color: @pink;

    &:hover {
      color: @pink;
      background: @lpink;
    }
}

.vi-button--red.is-plain {
    color: @red;
    border-color: @red;

    &:hover {
      color: @red;
      background: @lred;
    }
}

.vi-button--blue.is-plain {
    color: @blue;
    border-color: @blue;

    &:hover {
      color: @blue;
      background: @lblue;
    }
}

.vi-button--yellow.is-plain {
    color: @yellow;
    border-color: @yellow;

    &:hover {
      color: @yellow;
      background: @lyellow;
    }
}

.vi-button--purple.is-plain {
    color: @purple;
    border-color: @purple;

    &:hover {
      color: @purple;
      background: @lpurple;
    }
}

.vi-button--green.is-plain {
    color: @green;
    border-color: @green;

    &:hover {
      color: @green;
      background: @lgreen;
    }
}

.vi-button--sgrey.is-plain {
    color: @grey;
    border-color: @grey;
    &:hover {
      color: @white;
      border-color: @s-background;
      background: @s-background;
    }
}

.vi-button--black.is-plain {
    color: @black-background;
    border-color: @black-background;
    &:hover {
      color: @white;
      border-color: @black-background;
      background: @black-background;
    }
}

.vi-button--spink.is-plain {
    color: @pink;
    border-color: @pink;

    &:hover {
      color: @white;
      border-color: @spink-background;
      background: @spink-background;
    }
}

.vi-button--sred.is-plain {
    color: @red;
    border-color: @red;

    &:hover {
      color: @white;
      border-color: @sred-background;
      background: @sred-background;
    }
}

.vi-button--sblue.is-plain {
    color: @blue;
    border-color: @blue;

    &:hover {
      color: @white;
      border-color: @sblue-background;
      background: @sblue-background;
    }
}

.vi-button--syellow.is-plain {
    color: @yellow;
    border-color: @yellow;

    &:hover {
      color: @white;
      border-color: @syellow-background;
      background: @syellow-background;
    }
}

.vi-button--spurple.is-plain {
    color: @purple;
    border-color: @purple;

    &:hover {
      color: @white;
      border-color: @spurple-background;
      background: @spurple-background;
    }
}

.vi-button--sgreen.is-plain {
    color: @green;
    border-color: @green;

    &:hover {
      color: @white;
      border-color: @sgreen-background;
      background: @sgreen-background;
    }
}

.vi-button.is-transparent {
    color: @grey;
    background: transparent;
}

.vi-button--grey.is-transparent {
    color: @grey;
    &:hover {
        background: @s-o3;
    }
}

.vi-button--black.is-transparent {
    color: @black-background;
    &:hover {
        background: transparent;
    }
}

.vi-button--red.is-transparent {
    color: @red;
    &:hover {
        background: @sred-o3;
    }
}

.vi-button--pink.is-transparent {
    color: @pink;
    &:hover {
        background: @spink-o3;
    }
}

.vi-button--blue.is-transparent {
    color: @blue;
    &:hover {
        background: @sblue-o3;
    }
}

.vi-button--yellow.is-transparent {
    color: @yellow;
    &:hover {
        background: @syellow-o3;
    }
}

.vi-button--purple.is-transparent {
    color: @purple;
    &:hover {
        background: @spurple-o3;
    }
}

.vi-button--green.is-transparent {
    color: @green;
    &:hover {
        background: @sgreen-o3;
    }
}


.vi-button--grey.is-transparent {
    color: @grey;
    &:hover {
        background: @s-o3;
    }
}

.vi-button--black.is-transparent {
    color: @black-background;
    &:hover {
        background: transparent;
    }
}

.vi-button--sred.is-transparent {
    color: @red;
    &:hover {
        background: @sred-background-hover;
    }
}

.vi-button--spink.is-transparent {
    color: @pink;
    &:hover {
        background: @spink-background-hover;
    }
}

.vi-button--sblue.is-transparent {
    color: @blue;
    &:hover {
        background: @sblue-background-hover;
    }
}

.vi-button--syellow.is-transparent {
    color: @yellow;
    &:hover {
        background: @syellow-background-hover;
    }
}

.vi-button--spurple.is-transparent {
    color: @purple;
    &:hover {
        background: @spurple-background-hover;
    }
}

.vi-button--sgreen.is-transparent {
    color: @green;
    &:hover {
        background: @sgreen-background-hover;
    }
}

.vi-button.is-circle {
    padding: 10px;
    border-radius: 50%;
}

.vi-button.is-round {
    overflow: hidden;
    border-radius: 1.3em;
}