.vi-button--yellow {
    border: none;
    color: #fff;
    background: var(--vi-yellow-color3);

    &:hover {
        color: #fff;
        background: var(--vi-yellow-color2);
    }
}

.vi-button--yellow.is-mutate {
    border: none;
    color: #fff;
    background: var(--vi-yellow-background);

    &:hover {
        background: var(--vi-yellow-background);
    }
}

.vi-button--yellow.vi-button-type-plain {
    color: var(--vi-yellow-color1);
    background: transparent;
    box-shadow: inset 0 0 0 1px var(--vi-yellow-color1);

    &:hover {
        color: var(--vi-yellow-color1);
        box-shadow: inset 0 0 0 1px var(--vi-yellow-color1);
        background-color: var(--vi-yellow-color5);
    }
}

.vi-button--yellow.vi-button-type-plain.is-mutate {
    color: var(--vi-yellow-color1);
    background-color: var(--vi-yellow-color5);
    box-shadow: inset 0 0 0 1px var(--vi-yellow-color1);

    &:hover {
        color: #fff;
        box-shadow: inset 0 0 0 1px var(--vi-yellow-color1);
        background: var(--vi-yellow-color1);
    }
}

.vi-button--yellow.vi-button-type-transparent {
    color: var(--vi-yellow-color1);
    background: transparent;

    &:hover {
      color: var(--vi-yellow-color1);
      background-color: var(--vi-yellow-color5);
    }
}

.vi-button--yellow.vi-button-type-transparent.is-mutate {
    color: var(--vi-yellow-color1);
    background-color: var(--vi-yellow-color5);

    &:hover {
      color: #fff;
      background: var(--vi-yellow-color1);
    }
}