.vi-dropdown {
    position: relative;
    display: inline-block;
    user-select: none;

    .vi-dropdown-content {
        // display: flex;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: var(--vi-dropdown-gap);
        // justify-content: center;
        // pointer-events: none;
        .vi-dropdown-list {
            position: absolute;
            width: var(--vi-dropdown-width);
            height: var(--vi-dropdown-height);
            max-height: var(--vi-dropdown-max-height);
            // pointer-events: all;
        }
    }
}

.vi-dropdown-content-top {
    top: calc(0px - var(--vi-dropdown-gap));
    .vi-dropdown-list {
        margin-top: 0;
    }
}

.vi-dropdown-content-bottom {
    bottom: calc(0px - var(--vi-dropdown-gap));
    .vi-dropdown-list {
        margin-top: var(--vi-dropdown-gap);
    }
}

.vi-dropdown-content-left {
    top: 0;
    .vi-dropdown-list {
        margin-left: calc(0px - var(--vi-dropdown-gap));
    }
}

.vi-dropdown-content-right {
    top: 0;
    .vi-dropdown-list {
        margin-left: var(--vi-dropdown-gap);
    }
}

@import '../../../normal/animation/fade-in-out.css';