.vi-dropdown {
    position: relative;
    display: inline-block;
    user-select: none;

    .vi-dropdown-content {
        display: flex;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: var(--vi-dropdown-gap);
        justify-content: center;
        pointer-events: none;
        .vi-dropdown-list {
            position: absolute;
            z-index: 10;
            width: var(--vi-dropdown-width);
            height: var(--vi-dropdown-height);
            max-height: var(--vi-dropdown-max-height);
            pointer-events: all;
        }
    }
}

.vi-dropdown-content-up {
    top: calc(0px - var(--vi-dropdown-gap));
    .vi-dropdown-list {
        bottom: var(--vi-dropdown-gap);
    }
}

.vi-dropdown-content-down {
    bottom: calc(0px - var(--vi-dropdown-gap));
    .vi-dropdown-list {
        top: var(--vi-dropdown-gap);
    }
}

.vi-dropdown-content-left {
    bottom: 0;
    .vi-dropdown-list {
        right: calc(100% + var(--vi-dropdown-gap));
        // margin-top: -50%;
    }
}

.vi-dropdown-content-right {
    top: 0;
    .vi-dropdown-list {
        left: calc(100% + var(--vi-dropdown-gap));
        // margin-top: -50%;
    }
}

// .vi-dropdown-content-else-normal {
//     left: 0;
//     .vi-dropdown-list {
//         left: 0;
//     }
// }

.vi-dropdown-content-else-left {
    .vi-dropdown-list {
        right: 100%;
    }
}

.vi-dropdown-content-else-right {
    .vi-dropdown-list {
        left: 100%;
    }
}

.vi-dropdown-content-else-left.vi-dropdown-content-up,
.vi-dropdown-content-else-right.vi-dropdown-content-up {
    top: auto;
    bottom: 0;
    .vi-dropdown-list {
        bottom: 0;
    }
}

.vi-dropdown-content-else-left.vi-dropdown-content-down,
.vi-dropdown-content-else-right.vi-dropdown-content-down {
    top: 0;
    .vi-dropdown-list {
        top: 0;
    }
}

@import '../../../normal/animation/fade-in-out.css';