.vi-dropdown {
    position: relative;
    display: inline-block;
    user-select: none;

    .vi-dropdown-content {
        position: absolute;
        width: 100%;
        height: 0;
        .vi-dropdown-list {
            visibility: hidden;
            position: absolute;
            z-index: 20;
            width: 100%;
            height: var(--vi-dropdown-height);
            max-height: var(--vi-dropdown-max-height);
            pointer-events: all;
        }

        .vi-dropdown-list.is-open {
            visibility: visible;
            pointer-events: all;
        }
    }
}

.vi-dropdown-content-up {
    top: 0;
    .vi-dropdown-list {
        bottom: 2px;
    }
}

.vi-dropdown-content-down {
    bottom: 0;
    .vi-dropdown-list {
        top: 2px;
    }
}

.vi-dropdown-content-left {
    top: 0;
    .vi-dropdown-list {
        right: calc(100% + 2px);
        margin-top: -50%;
    }
}

.vi-dropdown-content-right {
    top: 0;
    .vi-dropdown-list {
        left: calc(100% + 2px);
        margin-top: -50%;
    }
}

// .vi-dropdown-content-else-normal {
//     left: 0;
//     .vi-dropdown-list {
//         left: 0;
//     }
// }

.vi-dropdown-content-else-left {
    .vi-dropdown-list {
        right: 100%;
    }
}

.vi-dropdown-content-else-right {
    .vi-dropdown-list {
        left: 100%;
    }
}

.vi-dropdown-content-else-left.vi-dropdown-content-up,
.vi-dropdown-content-else-right.vi-dropdown-content-up {
    top: auto;
    bottom: 0;
    .vi-dropdown-list {
        bottom: 0;
    }
}

.vi-dropdown-content-else-left.vi-dropdown-content-down,
.vi-dropdown-content-else-right.vi-dropdown-content-down {
    top: 0;
    .vi-dropdown-list {
        top: 0;
    }
}

@import '../../../normal/animation/fade-in-out.css';