.vi-nav-item-group {
    .vi-nav-item-group__title {
        font-weight: 600;
        padding-right: .2em;
    }

    .vi-nav-arrow {
        width: .6em;
        transform: rotate(180deg);
        path {
            fill: var(--vi-link-color);
        }
    }

    .vi-dropdown-list {
        --vi-dropdown-top: 12px;
        --vi-dropdown-width: auto;
        min-width: 7em;
        font-weight: 500;
        background-color: #fff;
        // box-sizing: border-box;
        box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);
        border-radius: var(--vi-card-radius);
    }

    .vi-nav-item {
        padding: var(--vi-card-padding);
    }
}