.vi-nav {
    display: flex;
    width: var(--vi-nav-width);
    height: var(--vi-nav-height);
    // background-color: pink;
    flex-direction: column;
    justify-content: space-between;

    .vi-nav-list {
        display: flex;
        height: 1em;
    }

    .vi-nav-list > * {
        margin-left: var(--vi-nav-gap);
        &:first-child {
            margin-left: 0;
        }
    }

    .vi-nav-line {
        position: relative;
        height: 1em;
        flex-grow: 0;

        .vi-nav-line-choose {
            position:absolute;
            bottom: 0;
            width: 2em;
            height: .2em;
            background-color: var(--vi-purple-color1);
            flex-grow: 0;
            flex-shrink: 1;
            transition: var(--vi-transition);
        }
    }
}