.vi-nav {
    display: flex;
    width: var(--vi-nav-width);
    height: var(--vi-nav-height);
    color: var(--vi-font-color);
    font-size: var(--vi-font-size);
    // background-color: pink;
    flex-direction: column;
    justify-content: space-between;

    .vi-nav-list {
        display: flex;
        & > * {
          font-weight: 600;
        }
    }

    .vi-nav-list > * {
      cursor: pointer;
      user-select: none;
    }

    .vi-nav-line {
        position: relative;
        height: .5em;
        flex-grow: 0;

        .vi-nav-line-choose {
            position:absolute;
            bottom: 0;
            width: 2em;
            height: .2em;
            background-color: var(--vi-main-color1);
            flex-grow: 0;
            flex-shrink: 1;
            transition: var(--vi-transition);
        }
    }
}

.vi-nav.is-horizontal {
  flex-direction: column;
  .vi-nav-list > * {
    margin-left: var(--vi-nav-gap);
    &:first-child {
        margin-left: 0;
    }
  }
}

.vi-nav.is-vertical {
  flex-direction: row;
  justify-content: flex-start;
  .vi-nav-list {
    flex-direction: column;
  }

  .vi-nav-list > * {
    margin-top: var(--vi-nav-gap);
    &:first-child {
        margin-top: 0;
    }
  }

  .vi-nav-line {
    position: relative;
    width: .5em;
    height: 100%;
    margin-left: .5em;
    flex-grow: 0;

    .vi-nav-line-choose {
        position:absolute;
        bottom: 0;
        width: .2em;
        background-color: var(--vi-main-color1);
        flex-grow: 0;
        flex-shrink: 1;
        transition: var(--vi-transition);
    }
  }
}