@import '../../../../public/css/basecolor.less';
@import '../../../../public/css/base.less';

.vi-checkbox {
    display: inline-flex;
    color: var(--vi-link-color);
    user-select: none;
    align-items: center;

    .vi-checkbox__origin {
        display: none;
    }

    .vi-checkbox-box {
        position: relative;
        display: inline-flex;
        box-sizing: border-box;
        box-shadow: 0 0 0 1px var(--vi-background-color-deep);
        margin: 0 2px;
        width: 1em;
        height: 1em;
        background-color: transparent;
        border-radius: 2px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .2s linear 0s;

        .vi-checkbox-gougou {
            width: .8em;
        }

        .vi-gougou-path {
            stroke-opacity: 0;
            stroke-dasharray: 0 25.7;
            stroke-linecap: round;
            transition: all .2s ease-in 0s;
        }
    }

    .vi-checkbox-text {
        margin: 0 2px;
    }

    &:hover {
        .vi-checkbox-box {
            box-shadow: 0 0 0 1px var(--vi-background-color-deeper);
        }
    }
}

.vi-checkbox-size-middle {
    font-size: var(--vi-font-size);
}

.vi-checkbox-size-small {
    font-size: var(--vi-small-font-size);
}

.vi-checkbox-size-big {
    font-size: var(--vi-big-font-size);
}

.vi-checkbox-type-button {
    .vi-checkbox-box {
        display: none;
    }

    .vi-checkbox-text {
        display: inline-block;
        padding: 6px 20px;
        box-shadow: 0 0 0 1px var(--vi-background-color-deep);
        border-radius: 5px;
        cursor: pointer;
        transition: all .2s linear 0s;
    }
}

.vi-checkbox.be-checked {
    .vi-checkbox-box {
        box-shadow: none;
    }
    .vi-checkbox-text {
        box-shadow: none;
    }
}

.vi-checkbox-type-button.be-checked {
    .vi-checkbox-box {
        box-shadow: none;
    }
    .vi-checkbox-text {
        box-shadow: none;
    }
}

@import './checked.less';
@import './color.less';
@import './mutate.less';
@import './disabled.less';