.vi-checkbox-appreance.be-checked {
    .vi-checkbox-box {
        .vi-gougou-path {
            stroke-opacity: 1;
            stroke-dasharray: 25.7 25.7;
        }
    }

    .vi-checkbox-text {
        margin: 0 2px;
    }
}