.vi-checkbox-spurple.be-checked {
    .vi-checkbox-box {
        border-color: @mpurple;
        background-color: @mpurple;
    }
}

.vi-checkbox-purple.be-checked {
    .vi-checkbox-box {
        border-color: @mpurple;
        background: @purple-background;
    }
}

.vi-checkbox-sgreen.be-checked {
    .vi-checkbox-box {
        border-color: @sgreen-background;
        background-color: @sgreen-background;
    }
}

.vi-checkbox-green.be-checked {
    .vi-checkbox-box {
        border-color: @sgreen-background;
        background: @green-background;
    }
}

.vi-checkbox-sred.be-checked {
    .vi-checkbox-box {
        border-color: @sred-background;
        background-color: @sred-background;
    }
}

.vi-checkbox-red.be-checked {
    .vi-checkbox-box {
        border-color: @sred-background;
        background: @red-background;
    }
}

.vi-checkbox-spink.be-checked {
    .vi-checkbox-box {
        border-color: @spink-background;
        background-color: @spink-background;
    }
}

.vi-checkbox-pink.be-checked {
    .vi-checkbox-box {
        border-color: @spink-background;
        background: @pink-background;
    }
}

.vi-checkbox-syellow.be-checked {
    .vi-checkbox-box {
        border-color: @syellow-background;
        background-color: @syellow-background;
    }
}

.vi-checkbox-yellow.be-checked {
    .vi-checkbox-box {
        border-color: @syellow-background;
        background: @yellow-background;
    }
}

.vi-checkbox-sblue.be-checked {
    .vi-checkbox-box {
        border-color: @sblue-background;
        background-color: @sblue-background;
    }
}

.vi-checkbox-blue.be-checked {
    .vi-checkbox-box {
        border-color: @sblue-background;
        background: @blue-background;
    }
}

.vi-checkbox-spurple.is-button.be-checked {
    .vi-checkbox-text {
        border-color: @mpurple;
        background-color: @mpurple;
    }
}

.vi-checkbox-purple.is-button.be-checked {
    .vi-checkbox-text {
        border-color: @mpurple;
        background: @purple-background;
    }
}

.vi-checkbox-sgreen.is-button.be-checked {
    .vi-checkbox-text {
        border-color: @sgreen-background;
        background-color: @sgreen-background;
    }
}

.vi-checkbox-green.is-button.be-checked {
    .vi-checkbox-text {
        border-color: @sgreen-background;
        background: @green-background;
    }
}

.vi-checkbox-sred.is-button.be-checked {
    .vi-checkbox-text {
        border-color: @sred-background;
        background-color: @sred-background;
    }
}

.vi-checkbox-red.is-button.be-checked {
    .vi-checkbox-text {
        border-color: @sred-background;
        background: @red-background;
    }
}

.vi-checkbox-spink.is-button.be-checked {
    .vi-checkbox-text {
        border-color: @spink-background;
        background-color: @spink-background;
    }
}

.vi-checkbox-pink.is-button.be-checked {
    .vi-checkbox-text {
        border-color: @spink-background;
        background: @pink-background;
    }
}

.vi-checkbox-syellow.is-button.be-checked {
    .vi-checkbox-text {
        border-color: @syellow-background;
        background-color: @syellow-background;
    }
}

.vi-checkbox-yellow.is-button.be-checked {
    .vi-checkbox-text {
        border-color: @syellow-background;
        background: @yellow-background;
    }
}

.vi-checkbox-sblue.is-button.be-checked {
    .vi-checkbox-text {
        border-color: @sblue-background;
        background-color: @sblue-background;
    }
}

.vi-checkbox-blue.is-button.be-checked {
    .vi-checkbox-text {
        border-color: @sblue-background;
        background: @blue-background;
    }
}