.vi-checkbox-spurple.be-checked {
    .vi-checkbox-box {
        border-color: @mpurple;
        background-color: @mpurple;
    }
}

.vi-checkbox-purple.be-checked {
    .vi-checkbox-box {
        border-color: @mpurple;
        background: @purple-background;
    }
}

.vi-checkbox-sgreen.be-checked {
    .vi-checkbox-box {
        border-color: @sgreen-background;
        background-color: @sgreen-background;
    }
}

.vi-radio-green.be-checked {
    .vi-radio-circle {
        border-color: @sgreen-background;
        .vi-radio-ball {
            background: @green-background;
        }
    }
}

.vi-radio-sred.be-checked {
    .vi-radio-circle {
        border-color: @sred-background;
        .vi-radio-ball {
            background-color: @sred-background;
        }
    }
}

.vi-radio-red.be-checked {
    .vi-radio-circle {
        border-color: @sred-background;
        .vi-radio-ball {
            background: @red-background;
        }
    }
}

.vi-radio-spink.be-checked {
    .vi-radio-circle {
        border-color: @spink-background;
        .vi-radio-ball {
            background-color: @spink-background;
        }
    }
}

.vi-radio-pink.be-checked {
    .vi-radio-circle {
        border-color: @spink-background;
        .vi-radio-ball {
            background: @pink-background;
        }
    }
}

.vi-radio-syellow.be-checked {
    .vi-radio-circle {
        border-color: @syellow-background;
        .vi-radio-ball {
            background-color: @syellow-background;
        }
    }
}

.vi-radio-yellow.be-checked {
    .vi-radio-circle {
        border-color: @syellow-background;
        .vi-radio-ball {
            background: @yellow-background;
        }
    }
}

.vi-radio-sblue.be-checked {
    .vi-radio-circle {
        border-color: @sblue-background;
        .vi-radio-ball {
            background-color: @sblue-background;
        }
    }
}

.vi-radio-blue.be-checked {
    .vi-radio-circle {
        border-color: @sblue-background;
        .vi-radio-ball {
            background: @blue-background;
        }
    }
}

.vi-radio-spurple.is-button.be-checked {
    .vi-radio-text {
        border-color: @mpurple;
        background-color: @mpurple;
    }
}

.vi-radio-purple.is-button.be-checked {
    .vi-radio-text {
        border-color: @mpurple;
        background: @purple-background;
    }
}

.vi-radio-sgreen.is-button.be-checked {
    .vi-radio-text {
        border-color: @sgreen-background;
        background-color: @sgreen-background;
    }
}

.vi-radio-green.is-button.be-checked {
    .vi-radio-text {
        border-color: @sgreen-background;
        background: @green-background;
    }
}

.vi-radio-sred.is-button.be-checked {
    .vi-radio-text {
        border-color: @sred-background;
        background-color: @sred-background;
    }
}

.vi-radio-red.is-button.be-checked {
    .vi-radio-text {
        border-color: @sred-background;
        background: @red-background;
    }
}

.vi-radio-spink.is-button.be-checked {
    .vi-radio-text {
        border-color: @spink-background;
        background-color: @spink-background;
    }
}

.vi-radio-pink.is-button.be-checked {
    .vi-radio-text {
        border-color: @spink-background;
        background: @pink-background;
    }
}

.vi-radio-syellow.is-button.be-checked {
    .vi-radio-text {
        border-color: @syellow-background;
        background-color: @syellow-background;
    }
}

.vi-radio-yellow.is-button.be-checked {
    .vi-radio-text {
        border-color: @syellow-background;
        background: @yellow-background;
    }
}

.vi-radio-sblue.is-button.be-checked {
    .vi-radio-text {
        border-color: @sblue-background;
        background-color: @sblue-background;
    }
}

.vi-radio-blue.is-button.be-checked {
    .vi-radio-text {
        border-color: @sblue-background;
        background: @blue-background;
    }
}