.vi-checkbox-purple.be-checked {
    .vi-checkbox-box {
        background: var(--vi-purple-color3);
    }
}

.vi-checkbox-green.be-checked {
    .vi-checkbox-box {
        background: var(--vi-green-color3);
    }
}

.vi-checkbox-red.be-checked {
    .vi-checkbox-box {
        background: var(--vi-red-color3);
    }
}

.vi-checkbox-pink.be-checked {
    .vi-checkbox-box {
        background: var(--vi-pink-color3);
    }
}

.vi-checkbox-yellow.be-checked {
    .vi-checkbox-box {
        background: var(--vi-yellow-color3);
    }
}

.vi-checkbox-blue.be-checked {
    .vi-checkbox-box {
        background: var(--vi-blue-color3);
    }
}

.vi-checkbox-purple.is-button.be-checked {
    .vi-checkbox-text {
        background: var(--vi-purple-color3);
    }
}

.vi-checkbox-green.is-button.be-checked {
    .vi-checkbox-text {
        background: var(--vi-green-color3);
    }
}

.vi-checkbox-red.is-button.be-checked {
    .vi-checkbox-text {
        background: var(--vi-red-color3);
    }
}

.vi-checkbox-pink.is-button.be-checked {
    .vi-checkbox-text {
        background: var(--vi-pink-color3);
    }
}

.vi-checkbox-yellow.is-button.be-checked {
    .vi-checkbox-text {
        background: var(--vi-yellow-color3);
    }
}

.vi-checkbox-blue.is-button.be-checked {
    .vi-checkbox-text {
        background: var(--vi-blue-color3);
    }
}