.vi-checkbox-appreance.is-default.is-disabled {
    .vi-checkbox-box {
        box-shadow: 0 0 0 1px var(--vi-background-color-deep);
    }

    .vi-checkbox-text {
        color: var(--vi-background-color-deep);
    }
}

.vi-checkbox-appreance.is-button.is-disabled {
    .vi-checkbox-text {
        color: var(--vi-background-color-deep);
        box-shadow: 0 0 0 1px var(--vi-background-color-deep);
    }
}