.vi-checkbox-purple.is-mutate.be-checked {
    .vi-checkbox-box {
        background: var(--vi-purple-background);
    }
}

.vi-checkbox-green.is-mutate.be-checked {
    .vi-checkbox-box {
        background: var(--vi-green-background);
    }
}

.vi-checkbox-red.is-mutate.be-checked {
    .vi-checkbox-box {
        background: var(--vi-red-background);
    }
}

.vi-checkbox-pink.is-mutate.be-checked {
    .vi-checkbox-box {
        background: var(--vi-pink-background);
    }
}

.vi-checkbox-yellow.is-mutate.be-checked {
    .vi-checkbox-box {
        background: var(--vi-yellow-background);
    }
}

.vi-checkbox-blue.is-mutate.be-checked {
    .vi-checkbox-box {
        background: var(--vi-blue-background);
    }
}

.vi-checkbox-purple.is-mutate.is-button.be-checked {
    .vi-checkbox-text {
        background: var(--vi-purple-background);
    }
}

.vi-checkbox-green.is-mutate.is-button.be-checked {
    .vi-checkbox-text {
        background: var(--vi-green-background);
    }
}

.vi-checkbox-red.is-mutate.is-button.be-checked {
    .vi-checkbox-text {
        background: var(--vi-red-background);
    }
}

.vi-checkbox-pink.is-mutate.is-button.be-checked {
    .vi-checkbox-text {
        background: var(--vi-pink-background);
    }
}

.vi-checkbox-yellow.is-mutate.is-button.be-checked {
    .vi-checkbox-text {
        background: var(--vi-yellow-background);
    }
}

.vi-checkbox-blue.is-mutate.is-button.be-checked {
    .vi-checkbox-text {
        background: var(--vi-blue-background);
    }
}