@import '../../../../public/css/basecolor.less';
@import '../../../../public/css/base.less';

.vi-switch-appreance {
    display: inline-flex;
    align-items: center;
    color: @grey;

    .vi-switch-content {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin: 0 4px;
        background-color: @mgrey;
        box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
        transition: all .2s linear 0s;

        .switch-circle {
            overflow: hidden;
            position: absolute;
            display: inline-flex;
            top: 2px;
            border-radius: 50%;
            transition: all .2s linear 0s;
            cursor: pointer;
            opacity: .8;
            backdrop-filter: blur(5px);
            justify-content: center;
            align-items: center;
        }
    
        .vi-switch {
            display: none;
        }
    }

    .vi-switch-content.left-choice {
        .switch-circle {
            left: 2px;
        }
    }

    .vi-switch-slot {
        display: inline-flex;
        height: 100%;
        align-items: center;
    }
}

.vi-switch-appreance.disabled {
    .switch-circle {
        cursor: no-drop;
    }
}

.vi-switch-appreance.is-middle {
    font-size: @font-size;
    .vi-switch-content {
        width: 40px;
        height: 22px;
        border-radius: 10px;

        .switch-circle {
            width: 18px;
            height: 18px;
            background-color: @white;
        }
    }

    .vi-switch-content.right-choice {
        .switch-circle {
            left: 20px;
        }
    }
}

.vi-switch-appreance.is-small {
    font-size: @small-font-size;
    .vi-switch-content {
        width: 30px;
        height: 17px;
        border-radius: 8px;

        .switch-circle {
            width: 13px;
            height: 13px;
            font-size: @small-font-size;
            background-color: @white;
        }
    }

    .vi-switch-content.right-choice {
        .switch-circle {
            left: 15px;
        }
    }
}

.vi-switch-appreance.is-big {
    font-size: @big-font-size;
    .vi-switch-content {
        width: 50px;
        height: 27px;
        border-radius: 13px;

        .switch-circle {
            width: 23px;
            height: 23px;
            background-color: @white;
        }
    }

    .vi-switch-content.right-choice {
        .switch-circle {
            left: 25px;
        }
    }
}

@import './type.less';
@import './filter.less';