.vi-switch-appreance.vi-switch-dark {
    .vi-switch-content {
        .switch-circle {
            opacity: .7;
            backdrop-filter: blur(5px);
            background-color: @black-background;
        }
    }
}