.vi-menu {
    width: var(--vi-menu-width);
    height: var(--vi-menu-height);
    padding: var(--vi-menu-padding);
    font-size: var(--vi-font-size);
    background-color: #fff;
    border-radius: var(--vi-menu-border-radius);
    box-sizing: border-box;
    // box-shadow: var(--vi-box-shadow);
}

.vi-menu.has-shadow {
    box-shadow: var(--vi-menu-box-shadow);
}