.vi-menu-group {
    --vi-collapse-width: 100%;
    box-sizing: border-box;

    .vi-collapse__title {
        padding: .6em .8em;
        box-sizing: border-box;
    }

    li > li {
      list-style: none;
    //   padding-left: 2em;
    }
}