.vi-menu {
    width: var(--vi-menu-width);
    padding: var(--vi-card-padding);
    background-color: #fff;
    border-radius: var(--vi-card-radius);
    box-sizing: border-box;
    box-shadow: var(--vi-box-shadow);
}