@import '../../../../public/css/basecolor.less';
@import '../../../../public/css/base.less';

.vi-form-item {
    display: flex;
    color: var(--vi-link-color);
    font-size: var(--vi-font-size);
    align-items: center;
    justify-content: start;

    .vi-form-label {
        width: var(--vi-form-label-width);
        padding: 0;
        margin: 0;
        margin-right: var(--vi-form-label-gap);
        text-align: right;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    .vi-form-input {
        position: relative;
        display: flex;
        width: var(--vi-form-item-width);
        // height: 100%;
        flex: 1;
        align-items: center;
        box-sizing: border-box;
        flex-wrap: wrap;

        .vi-checkbox-appreance,
        .vi-radio-appreance {
            margin-top: 8px;
            margin-right: 8px;
        }

        .vi-form-attention {
            overflow: visible;
            position: absolute;
            white-space: nowrap;
            margin-bottom: -2px;
            bottom: -1em;
            line-height: 1em;
            color: var(--vi-red-color1);
            transform: scale(80%);
            transform-origin: left center;
        }
    }
}

.vi-form-item-invalid {
    .vi-form-input {
        .vi-form-attention {
            color: var(--vi-red-color1);
        }
    }
}

.vi-form-item-type-default {
    display: flex;
}

.vi-form-item-type-inline {
    display: inline-flex;
}

.vi-form-item-size-middle {
    margin-bottom: var(--vi-font-size);
    font-size: var(--vi-font-size);
}

.vi-form-item-size-big {
    margin-bottom: var(--vi-big-font-size);
    font-size: var(--vi-big-font-size);
}

.vi-form-item-size-small{
    margin-bottom: var(--vi-small-font-size);
    font-size: var(--vi-small-font-size);
}

.vi-form-item-align-right {
    .vi-form-label {
        text-align: right;
    }
}

.vi-form-item-align-left {
    .vi-form-label {
        text-align: left;
    }
}

.vi-form-item-align-updown {
    flex-direction: column;
    .vi-form-label {
        text-align: center;
    }
}

@import './transition.less';