.vi-form-item {
    .vi-form-input {
        .vi-form-bottom-enter-from,
        .vi-form-bottom-leave-to {
            transform: scale(60%) translateY(-3px);
            opacity: 0;
        }

        .vi-form-bottom-enter-to,
        .vi-form-bottom-leave {
            transform: scale(60%) translateY(0px);
            opacity: 1;
        }

        .vi-form-bottom-enter-active,
        .vi-form-bottom-leave-active {
            transition: var(--vi-transition);
        }
    }
}