.vi-message {
    position: fixed;
    top: 5vh;
    right: 0;
    width: auto;
    pointer-events: none;
    flex-direction: column;
    transition: var(--vi-transition);

    .vi-message-card {
        position: absolute;
        right: 0;
        display: inline-flex;
        width: var(--vi-message-width);
        padding: var(--vi-card-padding);
        margin-bottom: 1em;
        color: #fff;
        text-align: left;
        background-color: var(--vi-font-color);
        border-radius: var(--vi-card-radius);
        box-shadow: var(--vi-card-box-shadow);
        pointer-events: all;
        box-sizing: border-box;
        transition: var(--vi-transition);
        transform: translateX(var(--vi-message-width));
        align-items: center;

        .vi-message-title {
            flex: 1
        }

        .delete-point {
            width: 1em;
            cursor: pointer;
            fill: #fff;
        }
    }

    .vi-message-card_appear {
        transform: translateX(-10px);
    }

    .vi-message-card_disappear {
        opacity: 0;
        transform: translateX(-10px) translateY(-5px);
    }
}

// @import './transition.less';