.vi-message {
    position: fixed;
    top: var(--vi-message-top);
    right: 0;
    z-index: 24;
    width: auto;
    pointer-events: none;
    flex-direction: column;
    transition: var(--vi-transition);

    .vi-message-card {
        position: absolute;
        right: 0;
        display: inline-flex;
        width: var(--vi-message-width);
        padding: var(--vi-card-padding);
        margin-bottom: 1em;
        color: var(--vi-background-color-deep);
        text-align: left;
        background-color: var(--vi-info-background-color);
        border-radius: var(--vi-card-radius);
        box-shadow: var(--vi-card-box-shadow);
        pointer-events: all;
        box-sizing: border-box;
        transition: var(--vi-transition);
        transform: translateX(var(--vi-message-width));
        align-items: center;

        .vi-message-title {
            flex: 1
        }

        .delete-point {
            fill: var(--vi-background-color-deep);
            width: 1em;
            transform: scale(90%);
            cursor: pointer;
        }
    }

    .vi-message-card_appear {
        transform: translateX(calc(0px - var(--vi-message-right)));
    }

    .vi-message-card_disappear {
        opacity: 0;
        transform: translateX(calc(0px - var(--vi-message-right))) translateY(-5px);
    }
}

// @import './transition.less';