.vi-message-enter-from {
    .vi-message-card {
        transform: translateX(var(--vi-message-width));
    }
}

.vi-message-enter-to {
    .vi-message-card {
        transform: translateX(-10px);
    }
}

.vi-message-enter-active {
    transition: var(--vi-transition);
    .vi-message-card {
        transition: var(--vi-transition);
    }
}

.vi-message-leave {
    opacity: 1;

    .vi-message-card {
        transform: translateX(-10px) translateY(0px);
    }
}

.vi-message-leave-to {
    opacity: 0;

    .vi-message-card {
        transform: translateX(-20px) translateY(-5px);
    }
}

.vi-message-leave-active {
    transition: var(--vi-transition);

    .vi-message-card {
        transition: var(--vi-transition);
    }
}