/* 向上打开 */
.vi-fade-in-out-up-enter-from,
.vi-fade-in-out-up-leave-to {
    opacity: 0;
    transform: translateY(5px);
}

.vi-fade-in-out-up-enter-to,
.vi-fade-in-out-up-leave {
    opacity: 1;
    transform: translateY(0px);
}

.vi-fade-in-out-up-enter-active,
.vi-fade-in-out-up-leave-active {
    transition: var(--vi-transition);
}

/* 向下打开 */
.vi-fade-in-out-down-enter-from,
.vi-fade-in-out-down-leave-to {
    opacity: 0;
    transform: translateY(-5px);
}

.vi-fade-in-out-down-enter-to,
.vi-fade-in-out-down-leave {
    opacity: 1;
    transform: translateY(0px);
}

.vi-fade-in-out-down-enter-active,
.vi-fade-in-out-down-leave-active {
    transition: var(--vi-transition);
}

/* 向左打开 */
.vi-fade-in-out-left-enter-from,
.vi-fade-in-out-left-leave-to {
    opacity: 0;
    transform: translateX(5px);
}

.vi-fade-in-out-left-enter-to,
.vi-fade-in-out-left-leave {
    opacity: 1;
    transform: translateX(0px);
}

.vi-fade-in-out-left-enter-active,
.vi-fade-in-out-left-leave-active {
    transition: var(--vi-transition);
}

/* 向右打开 */
.vi-fade-in-out-right-enter-from,
.vi-fade-in-out-right-leave-to {
    opacity: 0;
    transform: translateX(-5px);
}

.vi-fade-in-out-right-enter-to,
.vi-fade-in-out-right-leave {
    opacity: 1;
    transform: translateX(0px);
}

.vi-fade-in-out-right-enter-active,
.vi-fade-in-out-right-leave-active {
    transition: var(--vi-transition);
}