/* 普通打开 */
.vi-fade-in-out-normal-enter-from,
.vi-fade-in-out-normal-leave-to {
    opacity: 0;
}

.vi-fade-in-out-normal-enter-to,
.vi-fade-in-out-normal-leave {
    opacity: 1;
}

.vi-fade-in-out-normal-enter-active,
.vi-fade-in-out-normal-leave-active {
    transition: var(--vi-transition);
}

/* 向上打开 */
.vi-fade-in-out-top-enter-from,
.vi-fade-in-out-top-leave-to {
    opacity: 0;
    transform: translateY(var(--vi-fade-in-out-len));
}

.vi-fade-in-out-top-enter-to,
.vi-fade-in-out-top-leave {
    opacity: 1;
    transform: translateY(0px);
}

.vi-fade-in-out-top-enter-active,
.vi-fade-in-out-top-leave-active {
    transition: var(--vi-transition);
}

/* 向下打开 */
.vi-fade-in-out-bottom-enter-from,
.vi-fade-in-out-bottom-leave-to {
    opacity: 0;
    transform: translateY(calc(0px - var(--vi-fade-in-out-len)));
}

.vi-fade-in-out-bottom-enter-to,
.vi-fade-in-out-bottom-leave {
    opacity: 1;
    transform: translateY(0px);
}

.vi-fade-in-out-bottom-enter-active,
.vi-fade-in-out-bottom-leave-active {
    transition: var(--vi-transition);
}

/* 向左打开 */
.vi-fade-in-out-left-enter-from,
.vi-fade-in-out-left-leave-to {
    opacity: 0;
    transform: translateX(var(--vi-fade-in-out-len));
}

.vi-fade-in-out-left-enter-to,
.vi-fade-in-out-left-leave {
    opacity: 1;
    transform: translateX(0px);
}

.vi-fade-in-out-left-enter-active,
.vi-fade-in-out-left-leave-active {
    transition: var(--vi-transition);
}

/* 向右打开 */
.vi-fade-in-out-right-enter-from,
.vi-fade-in-out-right-leave-to {
    opacity: 0;
    transform: translateX(calc(0px - var(--vi-fade-in-out-len)));
}

.vi-fade-in-out-right-enter-to,
.vi-fade-in-out-right-leave {
    opacity: 1;
    transform: translateX(0px);
}

.vi-fade-in-out-right-enter-active,
.vi-fade-in-out-right-leave-active {
    transition: var(--vi-transition);
}