.vi-breadcrumb-item {
    list-style: none;
    color: var(--vi-link-color);
}

.vi-breadcrumb-item-to {
    cursor: pointer;
    &:hover {
        color: var(--vi-font-color);
    }
}

.vi-breadcrumb-item-to.vi-breadcrumb-item-color-purple {
    &:hover {
        color: var(--vi-purple-color1);
    }
}

.vi-breadcrumb-item-to.vi-breadcrumb-item-color-green {
    &:hover {
        color: var(--vi-green-color1);
    }
}

.vi-breadcrumb-item-to.vi-breadcrumb-item-color-yellow {
    &:hover {
        color: var(--vi-yellow-color1);
    }
}

.vi-breadcrumb-item-to.vi-breadcrumb-item-color-pink {
    &:hover {
        color: var(--vi-pink-color1);
    }
}

.vi-breadcrumb-item-to.vi-breadcrumb-item-color-red {
    &:hover {
        color: var(--vi-red-color1);
    }
}

.vi-breadcrumb-item-to.vi-breadcrumb-item-color-golden {
    &:hover {
        color: var(--vi-golden-color2);
    }
}

.vi-breadcrumb-item-to.vi-breadcrumb-item-color-blue {
    &:hover {
        color: var(--vi-blue-color1);
    }
}