.vi-breadcrumb {
    display: flex;
    align-items: center;
    font-size: var(--vi-font-size);
    user-select: none;

    .vi-breadcrumb__separator {
        padding: 0 .5em;
        color: var(--vi-background-color-deep);
    }
}