@import '../../../../../public/css/basecolor.less';
@import '../../../../../public/css/default-style.css';

.vi-select-box-enter-from {
    transform: translateY(-2px);
    opacity: 0;
}

.vi-select-box-enter-to {
    opacity: 1;
}

.vi-select-box-enter-active {
    transition: all .2s linear 0s;
}

.vi-select-box-leave {
    opacity: 1;
}

.vi-select-box-leave-to {
    transform: translateY(-2px);
    opacity: 0;
}

.vi-select-box-leave-active {
    transition: all .2s linear 0s;
}

.vi-select-box {
    position: absolute;
    text-align: left;
    top: 5px;
    left: 0;
    z-index: 2;
    background-color: #fff;
    width: var(--vi-select-scroll-width);
    border-radius: 5px;
    box-sizing: border-box;

    .vi-select-scroll {
        --vi-scroll-width: var(--vi-select-scroll-width);
        --vi-scroll-max-height: var(--vi-select-max-height);
    }
    .vi-select-ul {
        .vi-select-li {
            padding: 4px 8px;
            box-sizing: border-box;
            cursor: pointer;

            &:hover {
              background-color: @grey-o3;
            }
        }

        .vi-select-li.be-choosed {
            color: @black-background-hover;
            background-color: @spurple-o3;
        }
    }
}

.vi-select.is-dark {
    .vi-select-box {
        .vi-select-ul {
            .vi-select-li {
                &:hover {
                  background-color: @mblack-background-o7;
                }
            }

            .vi-select-li.be-choosed {
                color: @purple
            }
        }
    }
}