@import '../../../../../public/css/basecolor.less';

.vi-select {
    .vi-select-item {
        display: inline-flex;
        box-sizing: border-box;
        padding: 2px 4px;
        margin: 0 2px 2px 0;
        background-color: var(--vi-background-color);
        border-radius: var(--vi-card-radius);
        justify-content: space-between;
        align-items: center;

        .vi-select-chacha {
            cursor: pointer;
            width: 1em;
            height: 1em;
            margin-left: .4em;
            path {
                fill: var(--vi-link-color);
            }

            &:hover {
                path {
                    fill: var(--vi-font-color);
                }
            }
        }
    }
}

.vi-select.is-dark {
    .vi-select-item {
        .vi-select-chacha {
            &:hover {
                path {
                    fill: var(--vi-font-color)
                }
            }
        }
    }
}

.vi-select.is-default,
.vi-select.is-plain {
    .vi-select-item {
        background-color: var(--vi-background-color);

        .vi-select-chacha {
            path {
                fill: var(--vi-link-color);
            }

            &:hover {
                path {
                    fill: var(--vi-font-color);
                }
            }
        }
    }
}

.vi-select.is-default.is-dark,
.vi-select.is-plain.is-dark {
    .vi-select-item {
        color: var(--vi-link-color);
        background-color: var(--vi-background-color-deep);

        .vi-select-chacha {
            path {
                fill: var(--vi-link-color);
            }

            &:hover {
                path {
                    fill: var(--vi-font-color);
                }
            }
        }
    }
}