.vi-input-button {
    background-color: var(--vi-background-color);
    border-radius: var(--vi-card-radius);
    border: none;

    &:hover {
        background-color: var(--vi-background-color-deep);
    }
}

.vi-input-button.is-dark {
    background-color: var(--vi-background-color-deep);
    border-radius: var(--vi-card-radius);
    color: var(--vi-font-color);
    border: none;
}

.vi-input-button.is-round {
    border-radius: var(--vi-round-radius);
}