.vi-input-color-purple {
    &::after {
        background-color: var(--vi-purple-color1);
    }
}

.vi-input-color-purple.is-focus.vi-input-color-purple {
    box-shadow: 0 0 0 1px var(--vi-purple-color1);
}

.vi-input-color-golden {
    &::after {
        background-color: var(--vi-golden-color1);
    }
}

.vi-input-plain.is-focus.vi-input-color-golden {
    box-shadow: 0 0 0 1px var(--vi-golden-color1);
}


.vi-input-color-pink {
    &::after {
        background-color: var(--vi-pink-color1);
    }
}

.vi-input-plain.is-focus.vi-input-color-pink {
    box-shadow: 0 0 0 1px var(--vi-pink-color1);
}


.vi-input-color-green {
    &::after {
        background-color: var(--vi-green-color1);
    }
}

.vi-input-plain.is-focus.vi-input-color-green {
    box-shadow: 0 0 0 1px var(--vi-green-color1);
}

.vi-input-color-yellow {
    &::after {
        background-color: var(--vi-yellow-color1);
    }
}

.vi-input-plain.is-focus.vi-input-color-yellow {
    box-shadow: 0 0 0 1px var(--vi-yellow-color1);
}

.vi-input-color-blue {
    &::after {
        background-color: var(--vi-blue-color1);
    }
}

.vi-input-plain.is-focus.vi-input-color-blue {
    box-shadow: 0 0 0 1px var(--vi-blue-color1);
}

.vi-input-color-red {
    &::after {
        background-color: var(--vi-red-color1);
    }
}

.vi-input-plain.is-focus.vi-input-color-red {
    box-shadow: 0 0 0 1px var(--vi-red-color1);
}
