.vi-input-apperance.is-focus {
    .vi-input {
        color: @grey;

        &::placeholder {
            color: @grey-o7;
        }
    }
}

.vi-input-apperance.is-focus.is-dark {
    .vi-input {
        color: @mblack-background;

        &::placeholder {
            color: @mblack-background-o7;
        }
    }
}

.vi-input-apperance.is-purple {
    &::after {
        background-color:@mpurple-hover;
    }
}

.vi-input-apperance.is-focus.is-purple {
    .vi-input {
        color: @mpurple-hover;
    }
}

.vi-input-apperance.is-golden {
    &::after {
        background-color:@golden;
    }
}

.vi-input-apperance.is-focus.is-golden {
    .vi-input {
        color: @golden;
    }
}

.vi-input-apperance.is-pink {
    &::after {
        background-color:@pink;
    }
}

.vi-input-apperance.is-focus.is-pink {
    .vi-input {
        color: @pink;
    }
}

.vi-input-apperance.is-green {
    &::after {
        background-color:@green;
    }
}

.vi-input-apperance.is-focus.is-green {
    .vi-input {
        color: @green;
    }
}

.vi-input-apperance.is-yellow {
    &::after {
        background-color:@yellow;
    }
}

.vi-input-apperance.is-focus.is-yellow {
    .vi-input {
        color: @yellow;
    }
}

.vi-input-apperance.is-blue {
    &::after {
        background-color:@blue;
    }
}

.vi-input-apperance.is-focus.is-blue {
    .vi-input {
        color: @blue;
    }
}

.vi-input-apperance.is-red {
    &::after {
        background-color:@red;
    }
}

.vi-input-apperance.is-focus.is-red {
    .vi-input {
        color: @red;
    }
}

