.vi-input {
    .vi-input-fix {
        display: inline-flex;
        color: var(--vi-icon-color);
        width: var(--vi-input-suffix-width);
        --vi-select-width: var(--vi-input-suffix-width);
        height: 1em;
        justify-self: center;
        align-items: center;
        transition: var(--vi-transition-slow);
        cursor: default;

        .vi-select {
            &::after,
            &::before {
                width: 0;
                height: 0;
            }
            .vi-select-input {
                padding: 0;
                border-bottom: none;
            }
        }
    }
    .vi-input-prefix {
        padding-right: var(--vi-input-inner-padding);
        border-right: 1px solid var(--vi-background-color-deep);
        margin-right: var(--vi-input-inner-padding);
    }

    .vi-input-suffix {
        padding-left: var(--vi-input-inner-padding);
        border-left: 1px solid var(--vi-background-color-deep);
        margin-left: var(--vi-input-inner-padding);
    }
}

.vi-input {
    .vi-input-fix {
        border-color: var(--vi-background-color-deep);
    }
    &:hover {
        .vi-input-fix {
            border-color: var(--vi-icon-color);
        }
    }
}

.vi-input-button {
    .vi-input-suffix {
        padding-left: 8px;
        border-left: none;
        margin-left: 0px;
    }

    .vi-input-prefix {
        padding-right: var(--vi-input-inner-padding);
        border-right: none;
        margin-right: 0px;
    }
}