@import '../../../../public/css/basecolor.less';
@import '../../../../public/css/base.less';

.vi-input-apperance {
    overflow: hidden;
    position: relative;
    display: inline-flex;
    width: var(--vi-input-width);
    transition: all .3s ease 0s;
    user-select: none;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    .vi-input {
        width: var(100%);
        height: 100%;
        flex: 1;
        padding: 8px 0;
        border: none;
        outline: none;
        font-size: @font-size;
        background-color: transparent;
        // background-color: rgba(255, 255, 255, 0.356);
        color: @grey;
        // 光标颜色
        caret-color: @grey;
        flex: 1;
        box-sizing: border-box;
    
        &::placeholder {
            font-size: @font-size;
            color: @grey-o7;
        }
    }

    .vi-input:disabled {
        cursor: no-drop;
    }

    .vi-option-button-home {
        fill: @grey-o7;
    }
}

.vi-input-default {
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: @grey;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: @grey;
        transition: all .3s ease 0s;
    }
}

.vi-input-plain {
    border: 1px solid @grey-o7;
    border-radius: 5px;

    .vi-input {
        box-sizing: border-box;
        padding: 8px 10px;
    }
}

.vi-input-apperance.is-big {
    .vi-input {
        font-size: @big-font-size;
    
        &::placeholder {
            font-size: @big-font-size;
        }
    }

    .clear-option,
    .view-option,
    .noview-option {
        width: 20px;
        height: 20px;
    }

    .vi-option-button-home {
        line-height: -10px;
    }
}

.vi-input-apperance.is-middle {
    .vi-input {
        font-size: @font-size;
    
        &::placeholder {
            font-size: @font-size;
        }
    }

    .clear-option,
    .view-option,
    .noview-option {
        width: 18px;
        height: 18px;
    }

    .vi-option-button-home {
        line-height: -10px;
    }
}

.vi-input-apperance.is-small {
    .vi-input {
        font-size: @small-font-size;
    
        &::placeholder {
            font-size: @small-font-size;
            height: @small-font-size;
        }
    }

    .clear-option,
    .view-option,
    .noview-option {
        width: @font-size;
        height: @font-size;
    }

    .vi-option-button-home {
        line-height: -10px;
    }
}

.vi-input-apperance.is-dark { 
    .vi-input {
        color: @mblack-background;
        // 光标颜色
        caret-color: @mblack-background;
    
        &::placeholder {
            color: @mblack-background-o7;
        }
    }

    .vi-option-button-home {
        fill: @mblack-background-o7;
    }
}

.vi-input-default.is-dark {
    &::before {
        background-color: @mblack-background;
    }

    &::after {
        background-color: @mblack-background;
    }
}

.vi-input-plain.is-dark {
    border-color: @mblack-background-o7;
}

.vi-input-default.is-focus {
    &::after {
        width: 100%;
        box-shadow: 0 0 5px 0 @grey-o7;
    }
}

.vi-input-plain.is-round {
    border-radius: 1em;
}

@import './status.less';
@import './color.less';
@import './option.less';
@import './transition.less';
