@import '../../../../public/css/basecolor.less';
@import '../../../../public/css/base.less';

.vi-input-apperance {
    display: inline-block;
    box-sizing: border-box;

    .vi-input {
        padding: 8px 10px;
        border: none;
        outline: none;
        font-size: 14px;
    
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder,
        &::placeholder {
            font-size: @font-size;
        }
    }
    
    .vi-input.is-big {
        font-size: @big-font-size;
    }
    
    .vi-input.is-small {
        font-size: @small-font-size;
    }
    
    .vi-input.is-black {
        border-bottom: 2px solid @black-background;
        color: @black-background;
        // 光标颜色
        caret-color: @black-background;
        transition: all .3s ease 0s;
    
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder,
        &::placeholder {
            color: @black-background-hover;
        }
    }
}

.vi-input-apperance.is-focus {
    background-color: #000;
}