.vi-input-apperance {
    .vi-option-button-home {
        display: inline-flex;
        height: 100%;
        fill: var(--vi-background-color-deep);
        opacity: 0;
        pointer-events: none;
        transition: all .2s ease 0s;
        .vi-option-clear,
        .vi-option-password {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
        }

        .clear-option,
        .view-option,
        .noview-option {
            height: 100%;
            transform: scale(120%);
            cursor: pointer;
        }
    }
}

.vi-input-apperance.is-focus {
    .vi-option-button-home {
        opacity: 1;
        pointer-events: all;
    }
}

.vi-input-apperance.show-password.show-clear {
    .vi-option-button-home {
        .vi-option-clear {
            margin-right: 4px;
        }
    }
}