.vi-input-apperance {
    .vi-option-button-home {
        height: 100%;
        box-sizing: border-box;

        // .vi-option-password {
        //     padding-left: 2px;
        // }

        .clear-option,
        .view-option,
        .noview-option {
            cursor: pointer;
            height: 100%;
        }
    }
}

// .vi-input-default {
//     .vi-option-button-home {
//         padding-right: 4px;
//     }
// }

// .vi-input-plain {
//     .vi-option-button-home {
//         padding-right: 10px;
//     }
// }


// .vi-input-default.show-password,
// .vi-input-default.show-clear {
//     .vi-input {
//         padding-right: 28px;
//     }
// }

// .vi-input-default.show-password.show-clear {
//     .vi-input {
//         padding-right: 48px;
//     }
// }

// .vi-input-plain.show-password,
// .vi-input-plain.show-clear {
//     .vi-input {
//         padding-right: 38px;
//     }
// }

// .vi-input-plain.show-password.show-clear {
//     .vi-input {
//         padding-right: 55px;
//     }
// } 