.vi-input-plain {
    box-shadow: 0 0 0 1px var(--vi-background-color-deep);
    border-radius: var(--vi-card-radius);

    &:hover {
        box-shadow: 0 0 0 1px var(--vi-icon-color);
    }
}

.vi-input-plain.is-dark {
    &:hover {
        box-shadow: 0 0 0 1px var(--vi-font-color);
    }
}

.vi-input-plain.is-dark {
    box-shadow: 0 0 0 1px var(--vi-icon-color);
}

.vi-input-plain.is-round {
    border-radius: var(--vi-round-radius);
}