.vi-input-plain {
    border: 1px solid var(--vi-background-color-deep);
    border-radius: var(--vi-card-radius);

    &:hover {
        border-color: var(--vi-icon-color);
    }
}

.vi-input-plain.is-dark {
    &:hover {
        border-color: var(--vi-font-color);
    }
}

.vi-input-plain.is-dark {
    border-color: var(--vi-icon-color);
}

.vi-input-plain.is-round {
    border-radius: var(--vi-round-radius);
}