.vi-input-size-big {
    font-size: var(--vi-big-font-size);
    .vi-input__origin {
        font-size: var(--vi-big-font-size);
    
        &::placeholder {
            font-size: var(--vi-big-font-size);
        }
    }

    .clear-option,
    .view-option,
    .noview-option {
        width: var(--vi-big-font-size);
        height: var(--vi-big-font-size);
    }
}

.vi-input-size-middle {
    font-size: var(--vi-font-size);
    .vi-input__origin {
        font-size: var(--vi-font-size);
    
        &::placeholder {
            font-size: var(--vi-font-size);
        }
    }

    .clear-option,
    .view-option,
    .noview-option {
        width: var(--vi-font-size);
        height: var(--vi-font-size);
    }
}

.vi-input-size-small {
    font-size: var(--vi-small-font-size);
    .vi-input__origin {
        font-size: var(--vi-small-font-size);
    
        &::placeholder {
            font-size: var(--vi-small-font-size);
            height: var(--vi-small-font-size);
        }
    }

    .clear-option,
    .view-option,
    .noview-option {
        width: var(--vi-small-font-size);
        height: var(--vi-small-font-size);
    }
}