.vi-input-apperance.is-big {
    .vi-input {
        font-size: @big-font-size;
    
        &::placeholder {
            font-size: @big-font-size;
        }
    }

    .clear-option,
    .view-option,
    .noview-option {
        width: @big-font-size;
        height: @big-font-size;
    }
}

.vi-input-apperance.is-middle {
    .vi-input {
        font-size: @font-size;
    
        &::placeholder {
            font-size: @font-size;
        }
    }

    .clear-option,
    .view-option,
    .noview-option {
        width: @font-size;
        height: @font-size;
    }
}

.vi-input-apperance.is-small {
    .vi-input {
        font-size: @small-font-size;
    
        &::placeholder {
            font-size: @small-font-size;
            height: @small-font-size;
        }
    }

    .clear-option,
    .view-option,
    .noview-option {
        width: @small-font-size;
        height: @small-font-size;
    }
}