.vi-input-apperance.is-big {
    .vi-input {
        font-size: var(--vi-big-font-size);
    
        &::placeholder {
            font-size: var(--vi-big-font-size);
        }
    }

    .clear-option,
    .view-option,
    .noview-option {
        width: var(--vi-big-font-size);
        height: var(--vi-big-font-size);
    }
}

.vi-input-apperance.is-middle {
    .vi-input {
        font-size: var(--vi-font-size);
    
        &::placeholder {
            font-size: var(--vi-font-size);
        }
    }

    .clear-option,
    .view-option,
    .noview-option {
        width: var(--vi-font-size);
        height: var(--vi-font-size);
    }
}

.vi-input-apperance.is-small {
    .vi-input {
        font-size: var(--vi-small-font-size);
    
        &::placeholder {
            font-size: var(--vi-small-font-size);
            height: var(--vi-small-font-size);
        }
    }

    .clear-option,
    .view-option,
    .noview-option {
        width: var(--vi-small-font-size);
        height: var(--vi-small-font-size);
    }
}