.vi-input-apperance.info-right {
    .vi-input {
        color: @green;
        border-bottom: 1px solid @green;
    
        &::placeholder {
            color: @green-o5;
        }
    }
}

.vi-input-apperance.info-error {
    .vi-input {
        color: @red;
        border-bottom: 1px solid @red;
    
        &::placeholder {
            color: @red-o5;
        }
    }
}

.vi-input-apperance.info-warn {
    .vi-input {
        color: @yellow;
        border-bottom: 1px solid @yellow;
    
        &::placeholder {
            color: @yellow-o5;
        }
    }
}