.vi-input.info-right {
    box-shadow: 0 0 0 1px var(--vi-green-color1);
    &::before {
        background-color: var(--vi-green-color1);
    }

    .vi-input {
        color: var(--vi-green-color1);

        &::placeholder {
            color: var(--vi-green-color3);
        }
    }
}

.vi-input.info-error {
    box-shadow: 0 0 0 1px var(--vi-red-color1);
    &::before {
        background-color: var(--vi-red-color1);
    }
    
    .vi-input {
        color: var(--vi-red-color1);
    
        &::placeholder {
            color: var(--vi-red-color3);
        }
    }
}

.vi-input.info-warn {
    box-shadow: 0 0 0 1px var(--vi-yellow-color1);
    &::before {
        background-color: var(--vi-yellow-color1);
    }

    .vi-input {
        color: var(--vi-yellow-color1);
    
        &::placeholder {
            color: var(--vi-yellow-color3);
        }
    }
}