.vi-input-apperance.info-right {
    border-color: @green;
    &::before {
        background-color: @green;
    }

    .vi-input {
        color: @green;
    
        &::placeholder {
            color: @green-o5;
        }
    }
}

.vi-input-apperance.info-error {
    border-color: @red;
    &::before {
        background-color: @red;
    }
    
    .vi-input {
        color: @red;
    
        &::placeholder {
            color: @red-o5;
        }
    }
}

.vi-input-apperance.info-warn {
    border-color: @yellow;
    &::before {
        background-color: @yellow;
    }

    .vi-input {
        color: @yellow;
    
        &::placeholder {
            color: @yellow-o5;
        }
    }
}