.vi-scroll {
    overflow: hidden;
    // 可自控
    width: var(--vi-scroll-width);
    height: var(--vi-scroll-height);
    min-height: var(--vi-scroll-min-height);
    max-height: var(--vi-scroll-max-height);
    transition: all .2s ease-in-out;

    .vi-scroll-view-content {
        overflow: auto;
        width: var(--vi-scroll-width);
        height: var(--vi-scroll-height);
        min-height: var(--vi-scroll-min-height);
        max-height: var(--vi-scroll-max-height);

        &::-webkit-scrollbar {
            opacity: 1;
            transition: all 0.2s;
    
            &:vertical {
                width: 6px;
                height: 100%;
            }
    
            &:horizontal {
                width: 100%;
                height: 6px;
            }
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            transition: all .2s ease-in-out
        }
    
        &:-webkit-window-inactive::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }

    .lazy-loading {
        color: var(--vi-background-color-deep);
        display: flex;
        height: 35px;
        justify-content: center;
        align-items: center;

        .loading-animation {
            padding: 0 5px;
        }
    }
}

.vi-scroll.scroll-white {
    .vi-scroll-view-content {
        &::-webkit-scrollbar-thumb {
            background-color: #fff;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--vi-background-color);
        }
    }

    div[class^=vi-scroll-bar] {
        background-color: #fff;

        &:hover {
            background-color: var(--vi-background-color);
        }
    }
}

.vi-scroll.scroll-grey {
    .vi-scroll-view-content {
        &::-webkit-scrollbar-thumb {
            background-color: var(--vi-bg-color-deep-alpha);
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--vi-bg-color-deeper-alpha);
        }
    }

    div[class^=vi-scroll-bar] {
        background-color: var(--vi-bg-color-deep-alpha);

        &:hover {
            background-color: var(--vi-bg-color-deeper-alpha);   
        }
    }
}

.vi-scroll.scroll-black {
    .vi-scroll-view-content {
        &::-webkit-scrollbar-thumb {
            background-color: var(--vi-link-color);
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--vi-font-color);
        }
    }

    div[class^=vi-scroll-bar] {
        background-color: var(--vi-link-color);

        &:hover {
            background-color: var(--vi-font-color);
        }
    }
}

.vi-scroll.scroll-purple {
    .vi-scroll-view-content {
        &::-webkit-scrollbar-thumb {
            background-color: var(--vi-purple-color3);
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--vi-purple-color1);
        }
    }

    div[class^=vi-scroll-bar] {
        background-color: var(--vi-purple-color3);

        &:hover {
            background-color: var(--vi-purple-color1);
        }
    }
}

.vi-scroll.scroll-golden {
    .vi-scroll-view-content {
        &::-webkit-scrollbar-thumb {
            background-color: var(--vi-golden-color2);
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--vi-golden-color1);
        }
    }

    div[class^=vi-scroll-bar] {
        background-color: var(--vi-golden-color2);

        &:hover {
            background-color: var(--vi-golden-color1);
        }
    }
}

.vi-scroll.is-hidden {
    .vi-scroll-view-content {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    div[class^=vi-scroll-bar] {
        opacity: 0;
        transition: opacity .3s linear 0s;
    }
}

.vi-scroll-mouse-in.is-hidden {
    div[class^=vi-scroll-bar] {
        opacity: 1;
    }
}

.vi-scroll-start-scroll.is-hidden {
    div[class^=vi-scroll-bar] {
        opacity: 1;
    }
}

.vi-scroll.is-smooth {
    .vi-scroll-view-content {
        scroll-behavior: smooth;
    }
}

@import './scroll-bar.less';