.vi-bar-enter-from {
  opacity: 0;
}

.vi-bar-enter-to {
  opacity: 1;
}

.vi-bar-enter-active {
  transition: all .3s;
}

.vi-bar-leave {
    opacity: 1; 
}

.vi-bar-leave-to {
    opacity: 0;
}

.vi-bar-leave-active {
    transition: all .3s;
}