.vi-virtual-scroll {
    overflow: hidden;
    position: relative;
    // 可自控
    width: var(--vi-scroll-width);
    height: var(--vi-scroll-height);
    min-height: var(--vi-scroll-min-height);
    max-height: var(--vi-scroll-max-height);

    .vi-scroll-view-content {
        overflow: auto;
        position: relative;
        width: var(--vi-scroll-width);
        height: var(--vi-scroll-height);
        min-height: var(--vi-scroll-min-height);
        max-height: var(--vi-scroll-max-height);
        .list {
            position: absolute;
            top: 0;
            width: 100%;
    
            > * {
                height: var(--vi-scroll-item-height);
            }
        }
    
        &::-webkit-scrollbar {
            width: 6px;
            height: 100%;
            opacity: 1;
            transition: all 0.2s;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            transition: all .2s ease-in-out
        }
    
        &:-webkit-window-inactive::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }
}

.vi-scroll-overlay {
    .vi-scroll-content-view {    
        &::-webkit-scrollbar {
            display: none;
        }
    }
}