@import '../../../../public/css/basecolor.less';

.vi-virtual-scroll-plus {
    overflow: hidden;
    display: flex;
    background-color: transparent;
    background-color: #fff;
    justify-content: space-between;

    .scroll-content {
        overflow: hidden;
        height: 100%;
        flex: 1;
    }
}
