.vi-virtual-scroll {
    overflow: auto;
    position: relative;
    width: var(--vi-virtual-scroll-width);
    height: var(--vi-virtual-scroll-height);
    max-height: var(--vi-virtual-scroll-max-height);

    .list {
        position: absolute;
        top: 0;
        width: 100%;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 100%;
        opacity: 1;
        transition: all 0.2s;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        transition: all .2s ease-in-out
    }

    &:-webkit-window-inactive::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

.vi-virtual-scroll.scroll-white {
    &::-webkit-scrollbar-thumb {
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--vi-background-color);
    }
}

.vi-virtual-scroll.scroll-grey {
    &::-webkit-scrollbar-thumb {
        background-color: var(--vi-background-color);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--vi-background-color-deep);
    }
}

.vi-virtual-scroll.scroll-black {
    &::-webkit-scrollbar-thumb {
        background-color: var(--vi-link-color);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--vi-font-color);
    }
}

.vi-virtual-scroll.scroll-purple {
    &::-webkit-scrollbar-thumb {
        background-color: var(--vi-purple-color3);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--vi-purple-color1);
    }
}

.vi-virtual-scroll.scroll-golden {
    &::-webkit-scrollbar-thumb {
        background-color: var(--vi-golden-color2);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--vi-golden-color1);
    }
}

.vi-virtual-scroll.is-hidden {
    &::-webkit-scrollbar {
        width: 0px;
    }
}

.vi-virtual-scroll.is-smooth {
    scroll-behavior: smooth;
}