.vi-virtual-scroll {
    overflow: auto;
    position: relative;

    .list {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .list-brace {
        background-color: pink;
    }
}