.vi-time-select {
    --vi-dropdown-width: var(--vi-time-select-list-width);
    --vi-dropdown-height: var(--vi-time-select-list-height);
    --vi-dropdown-max-height: var(--vi-time-select-list-max-height);
    --vi-dropdown-gap: var(--vi-time-select-list-gap);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    box-sizing: border-box;

    .vi-time-select-input {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        transition: var(--vi-transition);
        width: var(--vi-time-select-width);
        height: var(--vi-time-select-height);
        padding: var(--vi-time-select-padding);

        .vi-time-select-choose {
            overflow: hidden;
            word-wrap: break-word;
            text-align: left;
            flex-grow: 0.1;
        }

        .vi-time-select-choose-gap {
            text-align: center;
            flex: 1;
        }

        .vi-time-select-icon {
            display: inline-flex;
            width: 1em;
            height: 1em;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            cursor: pointer;
            transform: scale(120%);
            transition: all .2s linear 0s;
        }
    }

    .vi-time-select-box {
        display: flex;
        overflow: hidden;
        text-align: left;
        background-color: #fff;
        height: 220px;
        align-items: center;
        border-radius: 5px;
        box-sizing: border-box;
        flex: 0;

        .vi-time-scroll:first-child,
        .vi-time-scroll:nth-child(5) {
            border: none;
        }

        .vi-time-select-box-gap {
            height: 200px;
            padding: 0 8px;
            padding-top: 80px;
            box-sizing: border-box;
        }
    }
}

.vi-time-select-size-middle {
    font-size: var(--vi-font-size);
}

.vi-time-select-size-big {
    font-size: var(--vi-big-font-size);
}

.vi-time-select-size-small {
    font-size: var(--vi-small-font-size);
}

.vi-time-select.is-disabled {
    position: relative;
    cursor: no-drop;
}

@import './type.less';