.vi-divider {
    background-color: var(--vi-background-color);
}

.vi-divider.is-vertical {
    display: inline-block;
    width: 1px;
    height: 100%;
}

.vi-divider.is-horizontal {
    width: 100%;
    height: 1px;
}