.vi-steps-item {
    --vi-result-size: var(--vi-steps-item-size);
    display: flex;
    align-items: center;
    flex: 1;
    user-select: none;

    .vi-steps-item__line {
        width: var(--vi-steps-item-line);
        height: calc(var(--vi-steps-item-size) / 10);
        margin-right: var(--vi-steps-gap);
        border-radius: calc(var(--vi-steps-item-size) / 20);
        background-color: var(--vi-background-color);
        transition: var(--vi-transition);
    }

    .vi-steps-item__content {
        overflow: visible;
        position: relative;
        // display: flex;
        width: var(--vi-steps-item-size);
        height: var(--vi-steps-item-size);
        // background-color: var(--vi-background-color);
        border-radius: 50%;
        box-sizing: border-box;
        // flex-direction: column;
        align-items: center;
        transition: var(--vi-transition);

        .vi-steps-item__content__circle {
            // overflow: hidden;
            display: flex;
            width: 100%;
            height: 100%;
            font-size: calc(var(--vi-steps-item-size) / 3 * 2);
            border-radius: 50%;
            box-shadow: inset 0 0 0 calc(var(--vi-steps-item-size) / 12) var(--vi-background-color);
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
        }

        .vi-steps-item__content__title {
            padding-top: 4px;
            text-align: center;
            color: var(--vi-background-color-deep);
            white-space: nowrap;

        }

        .vi-steps-item__content__desc {
            padding-top: 4px;
            color: var(--vi-background-color-deep);
            text-align: center;
            white-space: nowrap;
        }
    }
}

.vi-steps-item-now-choose {
    .vi-steps-item__line {
        background-color: var(--vi-background-color-deeper);
    }

    .vi-steps-item__content {
        .vi-steps-item__content__circle {
            color: var(--vi-background-color-deeper);
            box-shadow: inset 0 0 0 calc(var(--vi-steps-item-size) / 12) var(--vi-background-color-deeper);
        }

        .vi-steps-item__content__title {
            color: var(--vi-link-color);
        }

        .vi-steps-item__content__desc {
            color: var(--vi-icon-color)
        }
    }
}

.vi-steps-item-choosed {
    .vi-steps-item__line {
        background-color: var(--vi-green-color3);
    }

    .vi-steps-item__content {
        .vi-steps-item__content__circle {
            box-shadow: inset 0 0 0 calc(var(--vi-steps-item-size) / 12) var(--vi-green-color3);
        }

        .vi-steps-item__content__title {
            color: var(--vi-link-color);
        }

        .vi-steps-item__content__desc {
            color: var(--vi-icon-color)
        }
    }
}