.vi-date-select-part {
    width: 240px;
    height: 100%;
    margin: 0 10px;
    .vi-date-select-top {
        display: flex;
        width: 100%;
        height: 32px;
        border-bottom: 1px solid var(--vi-background-color-deep);
        box-sizing: border-box;
        align-items: center;
        justify-content: center;

        .vi-year-back,
        .vi-month-back,
        .vi-month-forward,
        .vi-year-forward {
            cursor: pointer;
            path {
                fill: var(--vi-main-color1);
            }
        }

        .vi-date-show {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--vi-link-color);
            flex: 1;

            .vi-select-input {
                padding: 0 4px;
                .vi-select-arrow {
                    padding-left: 1px;
                    width: 10px;
                    // display: none;
                }
                .vi-select-ul {
                    height: 100px;
                }
            }
        }
    }

    .vi-date-select-content {
        width: 100%;
        height: 175px;
        box-sizing: border-box;

        .vi-canlendary-title {
            display: flex;
            width: 100%;
            height: 25px;
            line-height: 25px;
            color: var(--vi-link-color);
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .vi-canlendary-week { 
                width: 14%;
                height: 100%;
                text-align: center;
            }
        }

        .vi-canlendary-days {
            display: flex;
            width: 100%;
            color: var(--vi-link-color);
            flex-wrap: wrap;
            .vi-canlendary-day {
                width: 14%;
                height: 25px;
                line-height: 25px;
                text-align: center;
                list-style: none;
                cursor: pointer;
                transition: all .2s linear 0s;

                &:hover {
                    color: var(--vi-main-color1)
                }
            }

            .vi-canlendary-day.be-choosed {
                color: var(--vi-main-color1);
                background-color: var(--vi-main-color6);
                border-radius: var(--vi-card-radius);
            }

            .vi-canlendary-default {
                width: 14%;
                height: 25px;
                line-height: 25px;
                color: var(--vi-background-color-deep);
                text-align: center;
                list-style: none;
            }
        }
    }

    .vi-date-select-bottom {
        display: flex;
        width: 100%;
        height: 28px;
        box-sizing: border-box;
        border-top: 1px solid var(--vi-background-color-deep);
        justify-content: center;
        align-items: center;

        .vi-date-bottom-button {
            padding: 4px;
        }
    }
}

.vi-date-select-mode-dark {
    .vi-date-select-top {
        border-bottom: 1px solid var(--vi-icon-color);

        .vi-date-show {
            color: var(--vi-font-color);
        }
    }

    .vi-date-select-content {    
        .vi-canlendary-title {
            color: var(--vi-font-color);
        }

        .vi-canlendary-days {
            color: var(--vi-font-color);
            .vi-canlenddary-day {
                &:hover {
                    color: var(--vi-main-color1)
                }
            }

            .vi-canlendary-default {
                color: var(--vi-icon-color);
            }
        }
    }

    .vi-date-select-bottom {
        border-top: 1px solid var(--vi-icon-color);
    }
}