@import '../../../../../public/css/basecolor.less';
@import '../../../../../public/css/base.less';

.vi-date-select-part {
    width: 240px;
    height: 100%;
    margin: 0 10px;
    .vi-date-select-top {
        display: flex;
        width: 100%;
        height: 32px;
        border-bottom: 1px solid @grey-o7;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;

        .vi-year-back,
        .vi-month-back,
        .vi-month-forward,
        .vi-year-forward {
            cursor: pointer;
            path {
                fill: @purple;
            }
        }

        .vi-date-show {
            display: flex;
            align-items: center;
            justify-content: center;
            color: @black-background-hover;
            flex: 1;
        }
    }

    .vi-date-select-content {
        width: 100%;
        height: 175px;
        box-sizing: border-box;

        .vi-canlendary-title {
            display: flex;
            width: 100%;
            height: 25px;
            line-height: 25px;
            color: @black-background-hover;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .vi-canlendary-week { 
                width: 14%;
                height: 100%;
                text-align: center;
            }
        }

        .vi-canlendary-days {
            display: flex;
            width: 100%;
            color: @black-background-hover;
            flex-wrap: wrap;
            .vi-canlendary-day {
                width: 14%;
                height: 25px;
                line-height: 25px;
                text-align: center;
                list-style: none;
                cursor: pointer;
                transition: all .2s linear 0s;

                &:hover {
                    color: @spurple-background
                }
            }

            .vi-canlendary-day.be-choosed {
                color: @spurple-background;
                background-color: @spurple-o5;
                border-radius: 5px;
            }

            .vi-canlendary-default {
                width: 14%;
                height: 25px;
                line-height: 25px;
                color: @grey-o7;
                text-align: center;
                list-style: none;
            }
        }

        
    }

    .vi-date-select-bottom {
        width: 100%;
        height: 28px;
        border-top: 1px solid @grey-o7;
    }
}

.vi-date-select.is-dark {
    .vi-date-select-top {
        background-color: @mblack-background;
        border-bottom: 1px solid @lblack-background;

        .vi-date-show {
            color: @lgrey;
        }
    }

    .vi-date-select-content {    
        .vi-canlendary-title {
            color: @lgrey;
        }

        .vi-canlendary-days {
            color: @lgrey;
            .vi-canlenddary-day {
                &:hover {
                    color: @spurple-background
                }
            }

            .vi-canlendary-default {
                color: @black-background-o3;
            }
        }
    }
}