.vi-date-select-box {
    display: flex;
    overflow: hidden;
    text-align: left;
    background-color: #fff;
    height: 238px;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;

    .vi-date-show_year {
        --vi-select-width: 4em;
        --vi-select-height: 1.6em;
        --vi-option-height: 30px;
        --vi-select-list-height: 180px;
    }

    .vi-date-show_month {
        --vi-select-width: 3em;
        --vi-select-height: 1.6em;
        --vi-option-height: 30px;
        --vi-select-list-height: 180px;
    }
}