@import '../../../../../public/css/basecolor.less';
@import '../../../../../public/css/base.less';

.vi-time-select-part {
    display: flex;
    height: 100%;
    align-items: center;
    // background: linear-gradient(to bottom, transparent 0px, transparent 50%, #aaa 50%, #aaa 100%);

    .vi-time-scroll {
        overflow: hidden;
        width: 36px;
        height: 200px;
        border-left: 1px solid @grey-o3;
        color: @black-background-hover;
        text-align: center;
        box-sizing: border-box;

        li {
          height: 30px;
        }

        li.be-choosed {
            color: @spurple-background;
        }
    }
}

.vi-date-select.is-dark {
    .vi-date-select-top {
        background-color: @mblack-background;
        .vi-date-select-top {
            border-bottom: 1px solid @lblack-background;

            .vi-date-show {
                color: @grey-o7;
            }
        }
    
        .vi-date-select-content {    
            .vi-canlendary-title {
                color: @grey-o7;
            }
    
            .vi-canlendary-days {
                color: @grey-o7;
                .vi-canlenddary-day {
                    &:hover {
                        color: @spurple-background
                    }
                }

                .vi-canlendary-default {
                    color: @lblack-background;
                }
            }
        }
    }
}