@import '../../../../../public/css/basecolor.less';
@import '../../../../../public/css/base.less';

.vi-time-select-part {
    display: flex;
    height: 100%;
    align-items: center;

    .vi-time-scroll {
        overflow: hidden;
        width: 36px;
        height: 200px;
        border-left: 1px solid var(--vi-background-color-deep);
        color: @grey-o7;
        text-align: center;
        box-sizing: border-box;

        li {
            list-style: none;
            height: 30px;
        }

        li.be-choosed {
            color: var(--vi-main-color1);
        }
    }
}

.vi-date-select-mode-dark {
    .vi-time-select-part {
        .vi-time-scroll {
            color: var(--vi-font-color);

            li.be-choosed {
                color: var(--vi-main-color1);
            }
        }
    }
}