@import '../../../../../public/css/basecolor.less'; 

.vi-year-select-content {
    display: flex;
    flex-wrap: wrap;
    .vi-year-select {
        display: flex;
        width: 25%;
        height: 55px;
        color: var(--vi-link-color);
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: transparent;
        transition: all .2s linear 0s;
    }

    .vi-year-select.be-choosed {
        color: vaR(--vi-purple-color1);
        background-color: var(--vi-purple-color6);
        border-radius: 10px;
    }
}

.vi-date-select.is-dark {
    .vi-year-select-content {
        .vi-year-select {
            color: var(--vi-font-color);
        }
    
        .vi-year-select.be-choosed {
            color: var(--vi-purple-color1);
            background-color: var(--vi-purple-color6);
            border-radius: 10px;
        }
    }
}