.vi-drag-list-item {
    position: relative;
    width: auto;
    height: auto;
    user-select: none;
}

.vi-drag-list {
    .vi-drag-list-item.vi-drag-list-item_is-drag {
        z-index: 999;
        transition: none;
    }
}