.vi-drag-list-item {
    position: relative;
    width: auto;
    height: auto;
    user-select: none;
    transition: all 0.3s ease 0s;
}

.vi-drag-list-item_is-drag {
    z-index: 999;
    transition: none;
}