.vi-drag-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @keyframes maskGo {
        0% {
            opacity: 1;
        }
        50% {
            opacity: .4;
        }
        100% {
            opacity: 1;
        }
    }

    .vi-drag-list__mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--vi-drag-mask-color);
        border-radius: var(--vi-drag-mask-border-radius);
        animation: maskGo 1s ease-in-out 0s infinite;
    }
}

.vi-drag-list_drag {
    .vi-drag-list-item {
        transition: all .3s ease 0s;
    }
}