.vi-header {
    position: relative;
    width: 100%;
    height: var(--vi-header-height);
    background-color: transparent;

    .vi-header-content {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        height: var(--vi-header-height);
        padding: var(--vi-header-padding);
        background-color: #fff;
        box-shadow: var(--vi-card-box-shadow);
        box-sizing: border-box;
        align-items: center;
        transition: var(--vi-transition);
    }
}

.vi-header_retract {
    .vi-header-content {
        top: calc(0px - var(--vi-header-height));
    }
}