.vi-header {
    position: relative;
    width: 100%;
    height: 44px;
    background-color: transparent;

    .vi-header-content {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 44px;
        margin: var(--vi-header-padding);
        background-color: #fff;
        box-shadow: var(--vi-card-box-shadow);
        box-sizing: border-box;
        align-items: center;
    }
}