.vi-bubble {
    display: inline-block;
    position: relative;
    .vi-bubble__content {
        display: flex;
        position: absolute;
        width: 100%;
        height: var(--vi-bubble-gap);
        justify-content: center;
        .vi-bubble__view {
            position: absolute;
            z-index: 20;
            width: var(--vi-bubble-width);
            height: var(--vi-bubble-height);
            padding: var(--vi-bubble-padding);
            background-color: var(--vi-bubble-bg-color);
            border-radius: var(--vi-bubble-border-radius);
            box-sizing: border-box;
            backdrop-filter: var(--vi-bubble-filter);
            filter: drop-shadow(0 0 .5px var(--vi-bubble-shadow-color))
            drop-shadow(0 0 .5px var(--vi-bubble-shadow-color))
            drop-shadow(0 0 .5px var(--vi-bubble-shadow-color));
            
            &::after {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: var(--vi-bubble-bg-color);
                transform: rotate(45deg);
            }

            .vi-bubble__title {
                color: var(--vi-bubble-title-color);
                font-size: var(--vi-font-size);
                margin-bottom: .5em;
            }

            .vi-bubble__text {
                min-height: 1em;
                color: var(--vi-bubble-color);
                font-size: var(--vi-font-size)
            }
        }
    }
}

@import './direction.less';
@import './mode.less';