.vi-bubble-mode-dark {
    .vi-bubble__content {
        .vi-bubble__view {
            background-color: var(--vi-info-background-color-solid);
            filter: none;

            .vi-bubble__text {
                color: var(--vi-background-color-deep);
            }
            
            &::after {
                background-color: var(--vi-info-background-color-solid);
            }
        }
    }
}