@path: '../../../../';
@import '@{path}public/css/base';
@import '@{path}public/css/icon';

@import './type.less';

.vi-icon.is-small {
  font-size: @font-size;
}

.vi-icon.is-middle {
  font-size: 24px;
}

.vi-icon.is-big {
  font-size: 36px;
}
