@path: '../../../../';
@import '@{path}public/css/base';
@import '@{path}public/css/icon';

@import './type.less';

.vi-icon.is-small {
  font-size: var(--vi-small-font-size);
}

.vi-icon.is-middle {
  font-size: var(--vi-font-size);
}

.vi-icon.is-big {
  font-size: var(--vi-big-font-size);
}
