.vi-icon {
    font-family: "vi-icon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-haoyourenzheng:before {
    content: "\100cf";
}

  .icon-fenxiang:before {
    content: "\100d0";
  }

  .icon-paixu:before {
    content: "\100d1";
  }

  .icon-gaishuai:before {
    content: "\100d2";
  }

  .icon-huodong:before {
    content: "\100d3";
  }

  .icon-jianshao:before {
    content: "\100d4";
  }

  .icon-gengduo:before {
    content: "\100d5";
  }

  .icon-fasong:before {
    content: "\100d6";
  }

  .icon-quanxian:before {
    content: "\100d7";
  }

  .icon-duihuan:before {
    content: "\100d8";
  }

  .icon-pinglun:before {
    content: "\100d9";
  }

  .icon-faxian:before {
    content: "\100da";
  }

  .icon-lishijilu:before {
    content: "\100db";
  }

  .icon-shanchu:before {
    content: "\100dc";
  }

  .icon-jihua:before {
    content: "\100dd";
  }

  .icon-quan:before {
    content: "\100de";
  }

  .icon-qianbao:before {
    content: "\100df";
  }

  .icon-saoma:before {
    content: "\100e0";
  }

  .icon-shezhi:before {
    content: "\100e1";
  }

  .icon-renzheng:before {
    content: "\100e2";
  }

  .icon-shouye:before {
    content: "\100e3";
  }

  .icon-qushi:before {
    content: "\100e4";
  }

  .icon-shangpin:before {
    content: "\100e5";
  }

  .icon-shouji:before {
    content: "\100e6";
  }

  .icon-xiazai:before {
    content: "\100e7";
  }

  .icon-shanchuhaoyou:before {
    content: "\100e8";
  }

  .icon-sousuo:before {
    content: "\100e9";
  }

  .icon-xinxi:before {
    content: "\100ea";
  }

  .icon-shijian:before {
    content: "\100eb";
  }

  .icon-shoucang:before {
    content: "\100ec";
  }

  .icon-shuju:before {
    content: "\100ed";
  }

  .icon-tupian:before {
    content: "\100ee";
  }

  .icon-xiangji:before {
    content: "\100ef";
  }

  .icon-xinyongka:before {
    content: "\100f0";
  }

  .icon-yingyong:before {
    content: "\100f1";
  }

  .icon-shangchuan:before {
    content: "\100f2";
  }

  .icon-shipin:before {
    content: "\100f3";
  }

  .icon-tianjia:before {
    content: "\100f4";
  }

  .icon-dingwei:before {
    content: "\100f5";
  }

  .icon-biaoqian:before {
    content: "\100f6";
  }

  .icon-bianji:before {
    content: "\100f7";
  }

  .icon-wode:before {
    content: "\100f8";
  }

  .icon-dingdan:before {
    content: "\100f9";
  }

  .icon-xiaoxi:before {
    content: "\100fa";
  }

  .icon-tianjiahaoyou:before {
    content: "\100fb";
  }

  .icon-yue:before {
    content: "\100fc";
  }

  .icon-wenjianjia:before {
    content: "\100fd";
  }

  .icon-ziliao:before {
    content: "\100fe";
  }