.vi-icon {
    font-family: "vi-icon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vi-icon-haoyourenzheng:before {
    content: "\100cf";
}

.vi-icon-fenxiang:before {
  content: "\100d0";
}

.vi-icon-paixu:before {
  content: "\100d1";
}

.vi-icon-gaishuai:before {
  content: "\100d2";
}

.vi-icon-huodong:before {
  content: "\100d3";
}

.vi-icon-jianshao:before {
  content: "\100d4";
}

.vi-icon-gengduo:before {
  content: "\100d5";
}

.vi-icon-fasong:before {
  content: "\100d6";
}

.vi-icon-quanxian:before {
  content: "\100d7";
}

.vi-icon-duihuan:before {
  content: "\100d8";
}

.vi-icon-pinglun:before {
  content: "\100d9";
}

.vi-icon-faxian:before {
  content: "\100da";
}

.vi-icon-lishijilu:before {
  content: "\100db";
}

.vi-icon-shanchu:before {
  content: "\100dc";
}

.vi-icon-jihua:before {
  content: "\100dd";
}

.vi-icon-quan:before {
  content: "\100de";
}

.vi-icon-qianbao:before {
  content: "\100df";
}

.vi-icon-saoma:before {
  content: "\100e0";
}

.vi-icon-shezhi:before {
  content: "\100e1";
}

.vi-icon-renzheng:before {
  content: "\100e2";
}

.vi-icon-shouye:before {
  content: "\100e3";
}

.vi-icon-qushi:before {
  content: "\100e4";
}

.vi-icon-shangpin:before {
  content: "\100e5";
}

.vi-icon-shouji:before {
  content: "\100e6";
}

.vi-icon-xiazai:before {
  content: "\100e7";
}

.vi-icon-shanchuhaoyou:before {
  content: "\100e8";
}

.vi-icon-sousuo:before {
  content: "\100e9";
}

.vi-icon-xinxi:before {
  content: "\100ea";
}

.vi-icon-shijian:before {
  content: "\100eb";
}

.vi-icon-shoucang:before {
  content: "\100ec";
}

.vi-icon-shuju:before {
  content: "\100ed";
}

.vi-icon-tupian:before {
  content: "\100ee";
}

.vi-icon-xiangji:before {
  content: "\100ef";
}

.vi-icon-xinyongka:before {
  content: "\100f0";
}

.vi-icon-yingyong:before {
  content: "\100f1";
}

.vi-icon-shangchuan:before {
  content: "\100f2";
}

.vi-icon-shipin:before {
  content: "\100f3";
}

.vi-icon-tianjia:before {
  content: "\100f4";
}

.vi-icon-dingwei:before {
  content: "\100f5";
}

.vi-icon-biaoqian:before {
  content: "\100f6";
}

.vi-icon-bianji:before {
  content: "\100f7";
}

.vi-icon-wode:before {
  content: "\100f8";
}

.vi-icon-dingdan:before {
  content: "\100f9";
}

.vi-icon-xiaoxi:before {
  content: "\100fa";
}

.vi-icon-tianjiahaoyou:before {
  content: "\100fb";
}

.vi-icon-yue:before {
  content: "\100fc";
}

.vi-icon-wenjianjia:before {
  content: "\100fd";
}

.vi-icon-ziliao:before {
  content: "\100fe";
}