.vi-tabbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .vi-tabber-item__icon {
        color: var(--vi-icon-color);
    }

    .vi-tabber-item__title {
        color: var(--vi-icon-color);
    }
}

.vi-tabbar-item.be-choosed {
    .vi-tabber-item__icon {
        color: var(--vi-main-color3);
    }

    .vi-tabber-item__title {
        color: var(--vi-main-color3);
    }
}