.vi-result-state-success {
    .vi-result-view {
        border-color: var(--vi-green-color3);
        background-color: var(--vi-green-color3);
    }
}

.vi-result-state-danger {
    .vi-result-view {
        border-color: var(--vi-red-color3);
        background-color: var(--vi-red-color3);
    }
}

.vi-result-state-warning {
    .vi-result-view {
        border-color: var(--vi-yellow-color3);
        background-color: var(--vi-yellow-color3);
    }
}