.vi-result-type-default {
    .vi-result-view {
        .vi-result-success {    
            .vi-gougou-path {
                stroke: #fff;
            }
        }
    
        .vi-result-danger {
            path {
                stroke: #fff;
            }
        }
    
        .vi-result-warning {
            path {
                fill: #fff;
            }
        }
    }
}

.vi-result-type-plain {
    .vi-result-view {
        border-width: 3px;
        border-style: solid;
        background-color: transparent;
        .vi-result-success {    
            .vi-gougou-path {
                stroke: var(--vi-green-color3);
            }
        }
    
        .vi-result-danger {
            path {
                stroke: var(--vi-red-color3);
            }
        }
    
        .vi-result-warning {
            path {
                fill: var(--vi-yellow-color3);
            }
        }
    }
}

.vi-result-type-transparent {
    .vi-result-view {
        background-color: transparent;
        .vi-result-success {    
            .vi-gougou-path {
                stroke: var(--vi-green-color3);
            }
        }
    
        .vi-result-danger {
            path {
                stroke: var(--vi-red-color3);
            }
        }
    
        .vi-result-warning {
            path {
                fill: var(--vi-yellow-color3);
            }
        }
    }
}