.vi-table-editor {
    position: relative;
    --vi-scroll-width: var(--vi-table-width);
    --vi-scroll-height: var(--vi-table-height);
    width: var(--vi-table-width);
    height: var(--vi-table-height);
    transition: none;
    user-select: none;
    overflow: hidden;

    .vi-table-editor__scroll {
        position: relative;
    }

    .vi-table-editor__view {
        color: var(--vi-link-color);
    }

    .vi-table-editor__fixed-header {
        position: absolute;
        top: 0;
        height: 0;
        z-index: 9;
        // 可自控
        width: var(--vi-table-sider-width);
        height: var(--vi-table-header-height);
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        background-color: var(--vi-background-color-solid);
        box-sizing: border-box;
    }

    .vi-table-editor__header {
        position: absolute;
        display: flex;
        top: 0;
        left: var(--vi-table-sider-width);
        z-index: 8;
        background-color: #fff;
        // 可自控
        height: var(--vi-table-header-height);

        .vi-table-editor__header__th {
            position: relative;
            display: flex;
            // 可自控
            width: var(--vi-table-td-width);
            height: 100%;
            background-color: var(--vi-background-color-solid);
            border-right: 1px solid #fff;
            font-weight: 600;
            user-select: none;
            overflow: hidden;
            white-space: nowrap;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            user-select: none;

            .vi-table-editor__header__th__resize {
                position: absolute;
                top: 0;
                right: 0;
                width: 3px;
                height: 100%;
                cursor: col-resize;
            }
        }

        .vi-table-editor__header__th.is-entire {
            background-color: var(--vi-green-color3);
        }
    }

    .vi-table-editor__side-header {
        position: absolute;
        top: var(--vi-table-header-height);
        left: 0;
        z-index: 8;
        width: 40px;

        .vi-table-editor__side-header__th {
            position: relative;
            display: flex;
            width: var(--vi-table-sider-width);
            height: var(--vi-table-td-height);
            background-color: var(--vi-background-color-solid);
            border-bottom: 1px solid #fff;
            font-weight: 600;
            user-select: none;
            overflow: hidden;
            white-space: nowrap;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            user-select: none;

            .vi-table-editor__side-header__th__resize {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                cursor: row-resize;
            }
        }

        .vi-table-editor__side-header__th.is-entire {
            background-color: var(--vi-green-color3);
        }
    }

    .vi-table-editor__view {
        position: relative;
    }

    .vi-table-editor__body {
        position: absolute;
        top: var(--vi-table-header-height);
        left: var(--vi-table-sider-width);
        color: var(--vi-font-color);
        .vi-table-editor__body__tr {
            // overflow: hidden;
            // display: flex;
            white-space: nowrap;
            // flex-wrap: nowrap;
        }
        user-select: none;
    }

    .vi-table-editor__pick-box {
        position: absolute;
        top: 25px;
        left: 40px;
        // 这里也别加z-index
        // z-index: 6;
        width: 70px;
        height: 100px;
        border: 1px solid var(--vi-green-color1);
        background-color: var(--vi-green-color5);
        pointer-events: none;
        box-sizing: border-box;

        .vi-table-editor__pick-pointer {
            position: absolute;
            right: -4px;
            bottom: -4px;
            z-index: 5;
            width: 8px;
            height: 8px;
            background-color: var(--vi-green-color1);
            border: 1px solid #fff;
            box-sizing: border-box;
            cursor: crosshair;
            pointer-events: auto;
        }
    }

    .vi-table-editor__change-box {
        position: absolute;
        top: 25px;
        left: 40px;
        // 这里也别加z-index
        // z-index: 6;
        width: 70px;
        height: 100px;
        border: 1px dashed var(--vi-icon-color);
        pointer-events: none;
        box-sizing: border-box;
    }
}