.vi-table-editor-td {
    display: inline-flex;
    position: relative;
    // 注意不要给td_text父盒子加z-index
    // z-index: 5;
    // 可自控
    width: var(--vi-table-td-width);
    height: var(--vi-table-td-height);
    border-right: 1px solid var(--vi-background-color-solid);
    border-bottom: 1px solid var(--vi-background-color-solid);
    background-color: #fff;
    box-sizing: border-box;
    user-select: none;
    align-items: center;
    justify-content: center;
    line-height: 0;
    // flex-basis: var(--vi-table-td-width);
    // flex-shrink: 0;
    // flex: 0;

    .vi-table-editor-td__text {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%;
        // padding: 0 2px;
        background-color: transparent;
        user-select: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        // box-sizing: border-box;
        user-select: none;
    }

    .vi-table-editor-td__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-weight: 500;
        color: var(--vi-font-color);
        border: none;
        padding: 0 2px;
        border-right: 1px solid var(--vi-background-color-solid);
        border-bottom: 1px solid var(--vi-background-color-solid);
        outline: none;
        box-sizing: border-box;
        resize: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.vi-table-editor-td-choose {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
        border: 2px solid var(--vi-green-color1);
        pointer-events: none;
        box-sizing: border-box;
    }

    .vi-table-editor-td__text {
        background-color: #fff;
    }
}

.vi-table-editor-td-entire {
    background-color: var(--vi-green-color5);
}