.vi-table-editor-option-list {
    position: fixed;
    overflow: hidden;
    z-index: 22;
    top: 60px;
    left: 100px;
    width: 166px;
    height: 20.2em;
    padding: 0;
    margin: 0;
    font-size: var(--vi-font-size);
    background-color: var(--vi-background-color-base);
    list-style: none;
    box-shadow: inset 0 0 0 1px var(--vi-background-color-deep);

    >li {
        padding: var(--vi-card-padding);
        cursor: pointer;

        &:hover {
            background-color: var(--vi-background-color);
        }
    }

    .vi-table-editor-option-list__li_ban {
        pointer-events: none;
        color: var(--vi-background-color-deep);
        cursor: default;
    }
}