// .vi-context-menu {
// }
.vi-context-menu-view {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--vi-context-menu-z-index);
    width: var(--vi-context-menu-width);
    height: var(--vi-context-menu-height);
}